<div class="row">
  <div class="col-sm-12">

    <div class="card card-outline card-danger">
      <div class="card-header">
        <h4>Datos Fiscales</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="formNewEmitter" (ngSubmit)="createTaxPeople()">
          <div class="form-row">

            <div class="form-group col-md-5">
              <label>Nombre o razon social:</label>
              <input type="text" class="form-control is-valid" formControlName="bussinessName"
                [ngClass]="{ 'is-invalid': submittedCreate && f['bussinessName'].errors }">
              <div *ngIf="submittedCreate && f['bussinessName'].errors" class="invalid-feedback">
                <div *ngIf="f['bussinessName'].errors['required']">Razon social del Emisor es requerido</div>
                <div *ngIf="f['bussinessName'].errors['maxLength']">Razon social del Emisor debe tener que ser menor a
                  150 caracteres</div>
              </div>
            </div>

            <div class="form-group col-md-2">
              <label>R.F.C:</label>
              <input type="text" class="form-control is-valid" formControlName="rfc"
                [ngClass]="{ 'is-invalid': submittedCreate && f['rfc'].errors }">
              <div *ngIf="submittedCreate && f['rfc'].errors" class="invalid-feedback">
                <div *ngIf="f['rfc'].errors['required']">RFC del Emisor es requerido</div>
                <div *ngIf="f['rfc'].errors['minlength']">RFC del Emisor no debe ser menor a 13 caracteres</div>
                <div *ngIf="f['rfc'].errors['maxlength']">RFC del Emisor no debe ser mayor a 14 caracteres</div>
              </div>
            </div>

            <div class="form-group col-md-2">
              <label>Lugar de expedicion:</label>
              <input type="text" class="form-control is-valid" formControlName="expeditionPlace"
                [ngClass]="{ 'is-invalid': submittedCreate && f['expeditionPlace'].errors }">
              <div *ngIf="submittedCreate && f['expeditionPlace'].errors" class="invalid-feedback">
                <div *ngIf="f['expeditionPlace'].errors['required']">Lugar de expedicion del Emisor es requerido</div>
                <div *ngIf="f['expeditionPlace'].errors['minlength']">Lugar de expedicion no debe ser menor a 5
                  caracteres</div>
                <div *ngIf="f['expeditionPlace'].errors['maxlength']">Lugar de expedicion no debe ser mayor a
                  5caracteres</div>
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>Regimen fiscal:</label>
              <select class="form-control is-valid" formControlName="taxRegime"
                [ngClass]="{ 'is-invalid': submittedCreate && f['taxRegime'].errors }">
                <option value="" selected>Seleccione un opcion</option>
                <option *ngFor="let item of jsonDataTaxRegiment" value="{{item.regime}}">{{item.regime}}</option>
              </select>
              <div *ngIf="submittedCreate && f['taxRegime'].errors" class="invalid-feedback">
                <div *ngIf="f['taxRegime'].errors['required']">Regimen fiscal del Emisor es requerido</div>
              </div>
            </div>

          </div>
          <div class="d-flex justify-content-end">
            <a class="btn btn-secondary btn_cancelar mr-1" (click)="resetFormCreate()">
              Cancelar
            </a>
            <button class="btn btn-primary" type="submit">Guardar</button>
          </div>
        </form>
      </div>
    </div>

    <div class="card card-outline card-danger">
      <div class="card-header">
        <h4>Lista de Personas Fiscales</h4>
      </div>
      <div class="card-body">
        <div class="card-body table-responsive">
          <div class="col-sm-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border">
              <thead>
                <tr>
                  <th>RFC</th>
                  <th>Nombre o razon social</th>
                  <th>Regimen fiscal</th>
                  <th>Lugar de Expedicion</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let emitter of dataEmitters; let i = index">

                  <td>{{emitter.rfc}}</td>
                  <td>{{emitter.bussiness_name}}</td>
                  <td>{{emitter.tax_regime}}</td>
                  <td>{{emitter.expedition_place}}</td>
                  <td class="text-center">
                    <a class="btn btn-secondary btn-sm mr-2" data-bs-toggle="tooltip" data-bs-placement="right"
                      title="Mostrar proveedores (Receptores)" routerLink="/panel/receiver/{{emitter.slug}}">
                      <i class="fas fa-users-cog"></i>
                    </a>
                    <a class="btn btn-light btn-sm mr-2" data-bs-toggle="tooltip" data-bs-placement="right"
                      title="Administracion de Certificados" routerLink="/panel/certificate/{{emitter.slug}}">
                      <i class="fas fa-certificate"></i>
                    </a>
                    <a class="btn btn-primary btn-sm mr-2" (click)="showModalEditEmitter(emitter, i)">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a *ngIf="emitter.status == 1" class="btn btn-danger btn-sm" data-bs-toggle="tooltip"
                      data-placement="right" title="Eliminar Receptor" (click)="editEstatusEmitter(emitter.slug, i)">
                      <i class="fa fa-window-close"></i>
                    </a>
                    <a *ngIf="emitter.status == 0" class="btn btn-success btn-sm" data-bs-toggle="tooltip"
                      data-placement="right" title="Eliminar Receptor" (click)="editEstatusEmitter(emitter.slug, i)">
                      <i class="fa fa-check"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div #editModal class="modal fade" data-bs-backdrop="static" id="modal-nuevo-receptor" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Receptor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form [formGroup]="formEditEmitter" (submit)="editDataEmiiter()">
        <div class="modal-body">
          <div class="form-row">

            <div class="form-group col-md-8">
              <label>Nombre o razon social:</label>
              <input type="text" class="form-control is-valid" formControlName="bussinessName"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['bussinessName'].errors }">
              <div *ngIf="submittedEdit && fEdit['bussinessName'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['bussinessName'].errors['required']">Razon social del Emisor es requerido</div>
                <div *ngIf="fEdit['bussinessName'].errors['maxLength']">Razon social del Emisor debe tener que ser menor
                  a 150 caracteres</div>
              </div>
            </div>
            
            <div class="form-group col-md-4">
              <label>R.F.C:</label>
              <input type="text" class="form-control is-valid" formControlName="rfc"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['rfc'].errors }">
              <div *ngIf="submittedEdit && fEdit['rfc'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['rfc'].errors['required']">RFC del Emisor es requerido</div>
                <div *ngIf="fEdit['rfc'].errors['minlength']">RFC del Emisor no debe ser menor a 13 caracteres</div>
                <div *ngIf="fEdit['rfc'].errors['maxlength']">RFC del Emisor no debe ser mayor a 14 caracteres</div>
              </div>
            </div>
            
            <div class="form-group col-md-4">
              <label>Lugar de expedicion</label>
              <input type="text" class="form-control is-valid" formControlName="expeditionPlace"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['expeditionPlace'].errors }">
              <div *ngIf="submittedEdit && fEdit['expeditionPlace'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['expeditionPlace'].errors['required']">Lugar de expedicion del Emisor es requerido
                </div>
                <div *ngIf="fEdit['expeditionPlace'].errors['minlength']">Lugar de expedicion no debe ser menor a 5
                  caracteres</div>
                <div *ngIf="fEdit['expeditionPlace'].errors['maxlength']">Lugar de expedicion no debe ser mayor a 5
                  caracteres</div>
              </div>
            </div>
            
            <div class="form-group col-md-4">
              <label>Regimen fiscal:</label>

              <select class="form-control is-valid" formControlName="taxRegime" [ngClass]="{ 'is-invalid': submittedEdit && fEdit['taxRegime'].errors }">
                <option *ngFor="let item of jsonDataTaxRegiment"
                  [selected]="item.regime == selectedTaxRegime"  > {{item.regime}} 
                </option>
              </select>

              <div *ngIf="submittedEdit && fEdit['taxRegime'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['taxRegime'].errors['required']">Regimen fiscal del Emisor es requerido</div>
              </div>
            </div>
            

          </div>
        </div>

        <div class="modal-footer">
          <a class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

      </form>

    </div>
  </div>
</div>