<div class="card card-outline card-danger">
  <div class="card-header">
    <h5 class="text-secondary">Creacion de Comprobante (CFDI 4.0) con complemento de Nomina</h5>
  </div>
  <div class="card-body">

    <form>
      <div class="row">
        <div class="col-sm-12">

          <ng-wizard #ngWizardNative [config]="config" [className]="'ng-wizard-theme-default'">

            <ng-wizard-step [title]="'Certficado'" [description]="'Carga de Certificado del Emisor'">
              <app-xml-certificate></app-xml-certificate>
            </ng-wizard-step>

            <ng-wizard-step [title]="'Comprobante'" [description]="'Nodo Comprobante'">
              <app-xml-vaucher></app-xml-vaucher>
            </ng-wizard-step>

            <ng-wizard-step [title]="'Recptor'" [description]="'Nodo Receptor'">
              5677567
            </ng-wizard-step>

            <ng-wizard-step [title]="'Nomina'" [description]="'Nodo datos Generales'">
              <app-xml-data-payroll></app-xml-data-payroll>
            </ng-wizard-step>

            <ng-wizard-step [title]="'Percepciones'" [description]="'Nodo de Percepciones'">
              <app-xml-data-perceptions></app-xml-data-perceptions>
            </ng-wizard-step>

             <ng-wizard-step [title]="'Deducciones'" [description]="'Nodo de Deducciones'">
              <app-xml-data-deductions></app-xml-data-deductions>
            </ng-wizard-step>

            <ng-wizard-step [title]="'Otros Pagos'" [description]="'Nodo Otros Pagos'" >
              <app-xml-data-other-payments></app-xml-data-other-payments>
            </ng-wizard-step>

          </ng-wizard>

          <div class="col-sm-12 d-flex justify-content-end custom-toolbar-ng-wizard">
            <div class="btn-group pb-2 pt-0">
              <button (click)="showPreviousStep()" class="btn btn-secondary" >
                <i class="fas fa-angle-left"></i> Preevio
              </button>
              <button (click)="showNextStep()" class="btn btn-secondary mr-2">
                Siguiente <i class="fas fa-angle-right"></i>
              </button>
            </div>
            <div class="btn-group pb-2 pt-0">
              <button (click)="resetWizard()" class="btn btn-danger">
                Reiniciar
              </button>
              <button (click)="saveData()" class="btn btn-success" *ngIf="showBottonFinish">
                Vista previa
              </button>
            </div>
          </div>

        </div>
      </div>
    </form>

  </div>
</div>
