{{formResultCertificate | json}}


<div class="card card-outline card-danger">
  <div class="card-header">
    <h5 class="text-secondary">Generar Envío</h5>
  </div>
  <div class="card-body">

    <form>
      <ng-wizard #ngWizardNative [config]="config" (stepChanged)="stepChanged($event)"
        [className]="'ng-wizard-theme-default'" style="border-radius: 5px;">

        <ng-wizard-step [title]="'Certficado'" [description]="'Carga de Certificado del Emisor'"
          [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
          <app-xml-certificate (dataFormResult)="formResultCertificate = $event"></app-xml-certificate>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Comprobante'" [description]="'Nodo Comprobante'">
          <app-xml-vaucher></app-xml-vaucher>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Receptor'" [description]="'Nodo de Recptor'">
          <app-xml-receiver></app-xml-receiver>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Conceptos'" [description]="'Nodo de Conceptos'">
          <app-xml-concepts></app-xml-concepts>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Step 5'" [description]="'Step 5 description'">
          <span>Step 5 content</span>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Step 6'" [description]="'Step 6 description'">
          <span>Step 6 content</span>
        </ng-wizard-step>

      </ng-wizard>
    </form>

  </div>
</div>