<form>
  <div class="form-row pt-3 pb-3">
    <div class="form-group col-sm-4">
      <label>Nombre de Proveerodor*:</label>
      <select class="form-control">
        <option value="" selected>Seleccione una opcion</option>
        <option *ngFor="let receiver of receiversList" value="{{receiver.slug}}"> {{receiver.bussiness_name}} </option>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label>RFC*:</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-sm-4">
      <label>Uso de CFDI*:</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-sm-4">
      <label>Domicilio fiscal*:</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-sm-4">
      <label>Regimen Fiscal*:</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-sm-4">
      <label>Residencia fiscal:</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-sm-4">
      <label>Número de registro de identidad fiscal:</label>
      <input type="text" class="form-control">
    </div>
  </div>
</form>
