<div class="row">
  <div class="col-sm-12">
    <div class="card card-outline card-danger">
      <div class="card-header">
        <h4>Registro de Empleados</h4>
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-sm-12">
            <ngx-dropzone (change)="onSelect($event)" style="background: none" accept=".xlsx">
              <ngx-dropzone-label class="text-success">Cargar archivo</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
            <div *ngIf="!isValid">
              <div class="invalid-feedback-custom">{{errorMessage}}</div>
            </div>
          </div>

          <div class="col-sm-12 pt-4" *ngIf="info.length > 0 || errors.length > 0">
            <p>Resultado de carga de Empleados a el sistema.</p>
          </div>

          <div class="col-sm-12 pt-2" *ngIf="info.length > 0">
            <p class="text-warning"><i class="fa fa-info-circle text-warning"></i> Incidencias:</p>
            <div class="row">
              <div class="col-sm-12">

                <ul class="list-group list-group-flush pl-5 pr-5">
                  <li class="list-group-item pb-1 pt-1" *ngFor="let item of info">
                    <p><b>Fila: </b>{{item.data_row}}<br /></p>
                    <ul class="pl-5" style="list-style-type: circle;">
                      <li *ngIf="item.emisor == undefined">
                        <p><b>Mensaje: </b>{{item.info_message}}<br /></p>
                      </li>
                      <li *ngIf="item.emisor != undefined">
                        <p><b>RFC del Emisor: </b>{{item.emisor}}<br /></p>
                        <p><b>Mensaje: </b>{{item.info_message}}<br /></p>
                      </li>
                    </ul>
                  </li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-sm-12 pt-2" *ngIf="errors.length > 0">
            <p class="text-danger"><i class="fas fa-times text-danger"></i> Errores:</p>
            <div class="row">
              <div class="col-sm-12">

                <ul class="list-group list-group-flush pl-5 pr-5">
                  <div *ngFor="let item of errors">
                    <li class="pb-1 pt-1">
                      <p><b>Fila: </b>{{item.data_row}}<br /></p>
                    </li>
                    <ul class="pl-5" style="list-style-type: circle;">
                      <li>
                        <p><b>Mensaje: </b>{{item.error_message}}<br /></p>
                      </li>
                    </ul>
                  </div>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-sm-12 pt-3">
            <hr width="100%" color="#e74c3c" />
          </div>
          <div class="col-sm-12 mt-2">
            <p class="text-center" style="color:#ffffff8a;">
              Pude descargar el archivo <b class="text-primary"> <a type="button" (click)="dowloadLayout()">aqui</a> </b>,
              este formato es la unica forma en la que se puede dar de alta de forma masiva
              a los nuevos Empleados. Es importante que el archivo no se modifique
              la estructura de los calumnas.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-outline card-danger">
      <div class="card-header">
        <div class="row">
          <div class="col-md-22 d-flex justify-content-start align-items-center">
            <h5>Lista de Empleados.</h5>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive">

        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
          <thead>
            <tr>
              <th>RFC</th>
              <th>Nombre</th>
              <th>Curp</th>
              <th>Numero social</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of dataEmployees; let i = index">
              <td>{{employee.rfc}}</td>
              <td>{{employee.bussiness_name}}</td>
              <td>{{employee.curp}}</td>
              <td>{{employee.social_security_number}}</td>
              <td class="text-center">
                <a class="btn btn-primary btn-sm mr-2" (click)="showModalEditEmployee(employee, i)">
                  <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-placement="right"
                  *ngIf="employee.status == 1" title="Eliminar Receptor" (click)="editStatusEmployee(employee, i)">
                  <i class="fa fa-window-close"></i>
                </a>
                <a class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-placement="right"
                  *ngIf="employee.status == 0" title="Eliminar Receptor" (click)="editStatusEmployee(employee, i)">
                  <i class="fa fa-window-close"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>

<div #editModal class="modal fade" data-bs-backdrop="static" id="modal-editar" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar datos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form [formGroup]="formEditEmployee" (submit)="editDataEmployee()">
        <div class="modal-body">
          <div class="form-row">

            <div class="form-group col-md-3">
              <label>RFC:</label>
              <input type="text" class="form-control is-valid" formControlName="rfc"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['rfc'].errors }">
              <div *ngIf="submittedEdit && fEdit['rfc'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['rfc'].errors['required']">Este campo es requerido</div>
                <div *ngIf="fEdit['rfc'].errors['minlength']">Debe ser menor a 12 caracteres</div>
                <div *ngIf="fEdit['rfc'].errors['maxlength']">Debe ser mayor a 13 caracteres</div>
                <div *ngIf="fEdit['rfc'].errors['pattern']">No cuenta con el formato correcto</div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label>Nombre:</label>
              <input type="text" class="form-control is-valid" formControlName="bussiness_name"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['bussiness_name'].errors }">
              <div *ngIf="submittedEdit && fEdit['bussiness_name'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['bussiness_name'].errors['required']">Este campo es requerido</div>
                <div *ngIf="fEdit['bussiness_name'].errors['maxLength']">Debe tener que ser menor a 100 caracteres</div>
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>Uso de CFDI:</label>
              <select class="form-control is-valid" formControlName="cfdi_use"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['cfdi_use'].errors }">
                <option value="" selected>Seleccione un opcion</option>
                <option *ngFor="let usageCfdi of cfdiUsageCat" value="{{usageCfdi.uso_cfdi}}">
                  {{usageCfdi.uso_cfdi}} -- {{usageCfdi.descripcion}}
                </option>
              </select>
              <div *ngIf="submittedEdit && fEdit['cfdi_use'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['cfdi_use'].errors['required']">Este campo es requerido</div>
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>Domicilio Fiscal:</label>
              <input type="text" class="form-control is-valid" formControlName="receiving_tax_domicile"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['receiving_tax_domicile'].errors }">
              <div *ngIf="submittedEdit && fEdit['receiving_tax_domicile'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['receiving_tax_domicile'].errors['required']"> Este campo es requerido </div>
                <div *ngIf="fEdit['receiving_tax_domicile'].errors['minlength']">
                  Lugar de expedicion no debe ser menor a 5 caracteres
                </div>
                <div *ngIf="fEdit['receiving_tax_domicile'].errors['maxlength']">
                  Lugar de expedicion no debe ser mayor a 5 caracteres
                </div>
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>Regimen fiscal</label>
              <select class="form-control is-valid" formControlName="recipient_tax_regimen"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['recipient_tax_regimen'].errors }">
                <option value="" selected>Seleccione un opcion</option>
                <option *ngFor="let item of jsonDataTaxRegiment" [selected]="item.regime == selectedTaxRegime">
                  {{item.regime}}
                </option>
              </select>
              <div *ngIf="submittedEdit && fEdit['recipient_tax_regimen'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['recipient_tax_regimen'].errors['required']">Este campo es requerido</div>
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>CURP:</label>
              <input type="text" class="form-control is-valid" formControlName="curp"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['curp'].errors }">
              <div *ngIf="submittedEdit && fEdit['curp'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['curp'].errors['required']"> Este campo es requerido </div>
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>Numero de seguridad social:</label>
              <input type="number" class="form-control is-valid" formControlName="social_security_number"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['social_security_number'].errors }">
            </div>

            <div class="form-group col-md-3">
              <label>Antigüedad:</label>
              <input type="text" class="form-control is-valid" formControlName="antiquity"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['antiquity'].errors }">
            </div>

            <div class="form-group col-md-3">
              <label>Fecha de inicio laboral:</label>
              <input type="date" class="form-control is-valid" #dateInput formControlName="work_start_date"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['work_start_date'].errors }">
            </div>

            <div class="form-group col-md-3">
              <label>Tipo de contrato:</label>
              <select type="text" class="form-control is-valid" formControlName="type_contract"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['type_contract'].errors }">
                <option value="" selected>Seleccione un opcion</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="99">99</option>
              </select>
            </div>

            <div class="form-group col-md-3">
              <label>Sindicalizado:</label>
              <select type="text" class="form-control is-valid" formControlName="unionized"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['unionized'].errors }">
                <option value="" selected>Seleccione un opcion</option>
                <option value="Sí">Sí</option>
                <option value="No">No</option>
              </select>
            </div>

            <div class="form-group col-md-3">
              <label>Tipo de jornada:</label>
              <select type="text" class="form-control is-valid" formControlName="type_working_day"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['type_working_day'].errors }">
                <option value="" selected>Seleccione un opcion</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="99">99</option>
              </select>
            </div>

            <div class="form-group col-md-3">
              <label>Tipo de regimen:</label>
              <select type="text" class="form-control is-valid" formControlName="regime_type"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['regime_type'].errors }">
                <option value="" selected>Seleccione un opcion</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="10">11</option>
                <option value="10">12</option>
                <option value="10">13</option>
                <option value="99">99</option>
              </select>
            </div>

            <div class="form-group col-md-3">
              <label>Numero de empleado:</label>
              <input type="text" class="form-control is-valid" formControlName="employee_number"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['employee_number'].errors }">
            </div>

            <div class="form-group col-md-3">
              <label>Riesgo del puesto:</label>
              <select type="text" class="form-control is-valid" formControlName="occupational_risk"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['occupational_risk'].errors }">
                <option value="" selected>Seleccione un opcion</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="99">99</option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <label>Periodicidad de pago:</label>
              <select type="text" class="form-control is-valid" formControlName="payment_frequency"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['payment_frequency'].errors }">
                <option value="" selected>Seleccione un opcion</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="99">99</option>
              </select>
              <div *ngIf="submittedEdit && fEdit['payment_frequency'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['payment_frequency'].errors['required']">Este campo es requerido</div>
              </div>
            </div>

            <div class="form-group col-md-5">
              <label>Departamento:</label>
              <input type="text" class="form-control is-valid" formControlName="departament"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['departament'].errors }">
            </div>

            <div class="form-group col-md-5">
              <label>Puesto:</label>
              <input type="text" class="form-control is-valid" formControlName="job"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['job'].errors }">
            </div>

            <div class="form-group col-md-4">
              <label>Banco:</label>
              <input type="text" class="form-control is-valid" formControlName="banck"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['banck'].errors }">
            </div>

            <div class="form-group col-md-4">
              <label>Cuenta bancaria:</label>
              <input type="text" class="form-control is-valid" formControlName="banck_account"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['banck_account'].errors }">
            </div>

            <div class="form-group col-md-4">
              <label>Salario base:</label>
              <input type="text" class="form-control is-valid" formControlName="base_salary"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['base_salary'].errors }">
            </div>

            <div class="form-group col-md-4">
              <label>Salario diario integrado:</label>
              <input type="text" class="form-control is-valid" formControlName="daily_salary"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['daily_salary'].errors }">
            </div>

            <div class="form-group col-md-3">
              <label>Clave de entidad federativa:</label>
              <input type="text" class="form-control is-valid" formControlName="federative_entity_key"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['federative_entity_key'].errors }">
              <div *ngIf="submittedEdit && fEdit['federative_entity_key'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['federative_entity_key'].errors['required']">Este campo es requerido</div>
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <a class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

      </form>
    </div>
  </div>
</div>
