<div class="row">
  <div class="col-sm-12">

    <div class="card card-outline card-danger">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6 d-flex justify-content-start align-items-center">
            <h5>Lista de Comprobantes</h5>
          </div>
        </div>
      </div>
      <div class="card-body ">

        <div class="row d-flex justify-content-center">
          <div class="col-sm-12">
            <div class="container container-pdf">
              <div class="baloon-fixed south">
                <p>
                  Carga logo de la empresa para la marca de agua<br>
                  es recomendable que no tenga fondo de pantalla.
                </p>
                <div class="element-mark-watter">
                  <i class="fas fa-camera"></i><span class="name"></span>
                  <input type="file" #fileUpload (click)="fileUpload.value = ''" (change)="importFile($event)"
                    accept="image/*">
                </div>
              </div>
              <div class="row p-5">

                <div class="col-sm-5 pt-1">
                  <div class="row">
                    <div class="container-image" (click)="fileUpload.click()">
                      <img width="150" [src]="logoUrl">

                      <div class="element">
                        <i class="fas fa-camera"></i><span class="name"></span>
                        <input type="file" #fileUpload (click)="fileUpload.value = ''" (change)="importFile($event)"
                          accept="image/*">
                      </div>
                    </div>
                    <div class="baloon left">
                      <p>
                        Carga logo de la empresa, el tamaño
                        que debe tener es de: 150x150.
                      </p>
                    </div>
                  </div>

                  <div class="row text-1 pt-2">
                    <p>
                      <b>Nombre de la empresa </b><br>
                      <b>Direccion</b><br><br>
                      <b class="text-primary"></b><br>
                      <b>RFC:</b> <br>
                      <b>REGIMEN FISCAL:</b> <br><br>
                    </p>
                  </div>
                </div>

                <div class="col-sm-7 text-2 d-flex justify-content-end">
                  <p>
                    <b>FOLIO FISCAL</b>: <br>
                    <b>NO. DE SERIE DEL CSD DEL EMISOR</b>:<br>
                    <b>FECHA Y HORA DE EMISIÓN</b>: <br>
                    <b>LUGAR DE EXPEDICION</b>: <br>
                    <b>TIPO DE CFDI</b>: <br>
                    <b>SERIE</b>: <br>
                    <b>FOLIO</b>: <br>
                    <br>
                  </p>
                </div>

                <div class="col-sm-12 pt-2 pr-0 pl-0">
                  <table class="table caption-top text-2">
                    <thead class="table-sm">
                      <tr>
                        <th colspan="2">CONTRIBUYENTE/PROPIETARIO</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="pt-0">
                          <b>NOMBRE:</b> <br>
                          <b>RFC Receptor:</b><br>
                        </td>
                        <td class="pt-0">
                          <b>Uso de CFDI:</b>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-sm-12 pt-2 pr-0 pl-0">
                  <table class="table caption-top text-2">
                    <thead class="table-sm">
                      <tr>
                        <th>Clave producto Servicio</th>
                        <th>Numero Identificacion</th>
                        <th>Cantidad</th>
                        <th>Clave Unidad</th>
                        <th>Unidad</th>
                        <th class="text-center">Concepto</th>
                        <th>Valor Unitario</th>
                        <th>Importe</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="pt-0"> </td>
                        <td class="pt-0">

                        </td>
                        <td class="pt-0"> </td>
                        <td class="pt-0"> </td>
                        <td class="pt-0"> </td>
                        <td class="pt-0"> </td>
                        <td class="pt-0"> </td>
                        <td class="pt-0"> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-sm-12 pt-2 pr-0 pl-0 text-2">
                  <div class="row">
                    <div class="col-sm-8">
                      <b>IMPORTE CON LETRA:</b> <br>
                      <b>FORMA DE PAGO:</b> <br>
                      <b>MÉTODO DE PAGO:</b> <br>
                    </div>
                    <div class="col-sm-4">
                      <b>SUBTOTAL:</b> <br>

                      <div>
                        <b>DESCUENTO:</b>
                      </div>

                      <div>
                        <div>
                          <div>
                            <b> TRASLADADO: </b>
                          </div>
                        </div>

                        <div>
                          <div>
                            <b> RETENIDO: </b>
                          </div>
                        </div>
                      </div>
                      <b class="text-primary text-total">TOTAL:</b><br>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 pt-2 pr-0 pl-0 text-1">
                  <b>NOTA:</b><br>
                  <p></p>
                </div>

                <div class="col-sm-12 pt-4 pr-0 pl-0 text-3">
                  <b>SELLO DIGITAL DEL CFDI</b><br>
                  <p class="text-2">

                  </p>
                </div>

                <div class="col-sm-12 pt-4 pr-0 pl-0 text-3">
                  <b>SELLO DEL SAT</b><br>
                  <p class="text-2">
                  </p>
                </div>

                <div class="col-sm-3 pt-4 pr-0 pl-0 text-4">
                  <!-- <qrcode [qrdata]="sadfdsfjasdlkfj;aksdfaskjdf;lasjdf;ldksjf" [width]="230" [errorCorrectionLevel]="'M'"></qrcode> -->
                </div>

                <div class="col-sm-9 pt-4 pr-0 pl-0 text-3">
                  <b>CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL</b><br>
                  <p class="text-2 ">

                  </p>
                </div>

                <div class="col-sm-9 pt-4 pr-0 pl-0 text-3">
                  <p>
                    <b class="text-primary">No de Serie del Certificado del SAT: </b><br>
                    <b class="text-primary">Fecha y hora de certificación: </b> <br>
                  </p>
                </div>

                <div class="col-sm-12 pt-5">
                  <hr width="100%" color="green" />
                </div>

                <div class="col-sm-12 pt-4 pr-0 pl-0 text-3 d-flex justify-content-center">
                  <b>ESTE DOCUMENTO ES UNA REPRESENTACiÓN IMPRESA DE UN CFDI</b><br>
                </div>

              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
