<div class="row">

  <div class="col-sm-6">
    <div class="card card-outline card-danger">
      <div class="card-header">
        <h4>Datos Receptores</h4>
      </div>
      <div class="card-body">

        <form [formGroup]="formNewReceiver" (ngSubmit)="createReceiver()">
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Nombre o razon social:</label>
              <input type="text" class="form-control is-valid" formControlName="bussinessName"
                [ngClass]="{ 'is-invalid': submittedCreate && f['bussinessName'].errors }">
              <div *ngIf="submittedCreate && f['bussinessName'].errors" class="invalid-feedback">
                <div *ngIf="f['bussinessName'].errors['required']">Razon social del Emisor es requerido</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>R.F.C:</label>
              <input type="text" class="form-control is-valid" formControlName="rfc"
                [ngClass]="{ 'is-invalid': submittedCreate && f['rfc'].errors }">
              <div *ngIf="submittedCreate && f['rfc'].errors" class="invalid-feedback">
                <div *ngIf="f['rfc'].errors['required']">RFC del Receptor es requerido</div>
              </div>
            </div>
            <div class="form-group col-md-4">

              <label>Uso de CFDI:</label>

              <select class="form-control is-valid" formControlName="cfdiUse"
                [ngClass]="{ 'is-invalid': submittedCreate && f['cfdiUse'].errors }">
                <option value="" selected>Seleccione un opcion</option>
                <option *ngFor="let usageCfdi of cfdiUsageCat" value="{{usageCfdi.uso_cfdi}}">{{usageCfdi.uso_cfdi}} --
                  {{usageCfdi.descripcion}}</option>
              </select>

              <div *ngIf="submittedCreate && f['cfdiUse'].errors" class="invalid-feedback">
                <div *ngIf="f['cfdiUse'].errors['required']">Dato requerido</div>
              </div>

            </div>
            <div class="form-group col-md-4">
              <label>Domicilio Fiscal</label>
              <input type="text" class="form-control is-valid" formControlName="receivingTaxDomicile"
                [ngClass]="{ 'is-invalid': submittedCreate && f['receivingTaxDomicile'].errors }">
              <div *ngIf="submittedCreate && f['receivingTaxDomicile'].errors" class="invalid-feedback">
                <div *ngIf="f['receivingTaxDomicile'].errors['required']">Dato requerido</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Regimen Fiscal:</label>

              <select type="text" class="form-control is-valid" formControlName="recipientTaxRegimen"
                [ngClass]="{ 'is-invalid': submittedCreate && f['recipientTaxRegimen'].errors }">
                <option value="" selected>Seleccione un opcion</option>
                <option *ngFor="let taxRegime of taxRegimesCat" value="{{taxRegime.regime}}">
                  {{taxRegime.regime}}
                </option>
              </select>

              <div *ngIf="submittedCreate && f['recipientTaxRegimen'].errors" class="invalid-feedback">
                <div *ngIf="f['recipientTaxRegimen'].errors['required']">Dato requerido</div>
              </div>


            </div>

            <div class="form-group col-md-6">
              <label>Número de registro de identidad tributaria</label>
              <input type="text" class="form-control is-valid" formControlName="taxIdNumber">
            </div>
            <div class="form-group col-md-6">
              <label>Residencia Fiscal:</label>
              <input type="text" class="form-control is-valid" formControlName="taxResidence">
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <a class="btn btn-secondary btn_cancelar mr-1" (click)="resetFormCreate()">Cancelar </a>
            <button class="btn btn-primary" type="submit">Guardar</button>
          </div>
        </form>

      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card card-outline card-danger">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-start align-items-center">
            <h5>Lista de Receptores</h5>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
          <thead>
            <tr>
              <th>RFC</th>
              <th>Nombre o razon social</th>
              <th>Uso de CDFI</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let receiver of dataReceivers; let i = index">
              <td>{{receiver.rfc}}</td>
              <td>{{receiver.bussiness_name}}</td>
              <td>{{receiver.cfdi_use}}</td>
              <td class="text-center">
                <a class="btn btn-primary btn-sm mr-2" (click)="showModalEditReceiver(receiver, i)">
                  <i class="fa fa-edit"></i>
                </a>
                <a *ngIf="receiver.status == 1" class="btn btn-danger btn-sm" data-bs-toggle="tooltip"
                  data-placement="right" title="Eliminar Receptor" (click)="editEstatusReceiver(receiver.slug, i)">
                  <i class="fa fa-window-close"></i>
                </a>
                <a *ngIf="receiver.status == 0" class="btn btn-success btn-sm" data-bs-toggle="tooltip"
                  data-placement="right" title="Eliminar Receptor" (click)="editEstatusReceiver(receiver.slug, i)">
                  <i class="fa fa-check"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>


<div #editModal class="modal fade" data-bs-backdrop="static" id="modal-nuevo-receptor" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Receptor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form [formGroup]="formEditReceiver" (submit)="editDataReceiver()">
        <div class="modal-body">

          <div class="form-row">

            <div class="form-group col-md-8">
              <label>Nombre o razon social:</label>
              <input type="text" class="form-control is-valid" formControlName="bussinessName"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['bussinessName'].errors }">
              <div *ngIf="submittedEdit && fEdit['bussinessName'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['bussinessName'].errors['required']">Dato requerido</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>R.F.C:</label>
              <input type="text" class="form-control is-valid" formControlName="rfc"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['rfc'].errors }">
              <div *ngIf="submittedEdit && fEdit['rfc'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['rfc'].errors['required']">Dato requerido</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Uso de CFDI:</label>
              <select class="form-control is-valid" formControlName="cfdiUse"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['cfdiUse'].errors }">
                <option *ngFor="let usageCfdi of cfdiUsageCat" [selected]="usageCfdi.uso_cfdi == selectedCfdiUse">
                  {{usageCfdi.uso_cfdi}}
                </option>
              </select>
              <div *ngIf="submittedEdit && fEdit['cfdiUse'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['cfdiUse'].errors['required']">Dato requerido</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Domicilio Fiscal</label>
              <input type="text" class="form-control is-valid" formControlName="receivingTaxDomicile"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['receivingTaxDomicile'].errors }">
              <div *ngIf="submittedEdit && fEdit['receivingTaxDomicile'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['receivingTaxDomicile'].errors['required']">Dato requerido</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Regimen Fiscal:</label>
              <select type="text" class="form-control is-valid" formControlName="recipientTaxRegimen"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['recipientTaxRegimen'].errors }">
                <option value="" selected>Seleccione un opcion</option>
                <option *ngFor="let taxRegime of taxRegimesCat" [selected]="taxRegime.regime == selectedTaxRegime">
                  {{taxRegime.regime}}
                </option>
              </select>

              <div *ngIf="submittedCreate && f['recipientTaxRegimen'].errors" class="invalid-feedback">
                <div *ngIf="f['recipientTaxRegimen'].errors['required']">Dato requerido</div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label>Número de registro de identidad fiscal:</label>
              <input type="text" class="form-control is-valid" formControlName="taxIdNumber">
            </div>

            <div class="form-group col-md-6">
              <label>Residencia Fiscal:</label>
              <input type="text" class="form-control is-valid" formControlName="taxResidence">
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <a class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

      </form>

    </div>
  </div>
</div>