<form [formGroup]="formDescarga" (submit)="massive()">
  <div class="row">
    <div class="col-sm-7">
      <div class="col-sm-12">
        <div class="card card-outline card-danger">
          <div class="card-header">
            <h4>Descarga Masiva</h4>
          </div>
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">Solicitud</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Busqueda por UUID</button>
            </div>
          </nav>

          <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="modal-body">


                <div class="form-row">

                  <div class="col-sm-3 mb-2">
                    <label>Seleccionar Emisor:</label>
                    <select class="form-control is-valid" (change)="setDataEmitterInput($event)">
                      <option selected value="">seleccione una opcion</option>
                      <option *ngFor="let emitter of emitterData" value="{{emitter.slug}}"> {{emitter.bussiness_name}}
                      </option>
                    </select>
                  </div>

                  <div class="col-sm-3 mb-2">
                    <label>RFC Emisor:</label>
                    <input type="text" class="form-control is-valid" formControlName="rfc" [readonly]="true"
                      [ngClass]="{ 'is-invalid': summitFormCert && f['rfc'].errors }">

                    <div *ngIf="summitFormCert && f['rfc'].errors" class="invalid-feedback">
                      <div *ngIf="f['rfc'].errors['required']">RFC del Emisor es requerido</div>
                      <div *ngIf="f['rfc'].errors['minlength']">RFC del Emisor no debe ser menor a 13 caracteres</div>
                      <div *ngIf="f['rfc'].errors['maxlength']">RFC del Emisor no debe ser mayor a 14 caracteres</div>
                      <div *ngIf="f['rfc'].errors['pattern']">RFC no cuenta con el formato correcto</div>

                    </div>
                  </div>


                  <div class="form-group col-md-3">
                    <label>RFC solicitante</label>
                    <input type="text" class="form-control is-valid" formControlName="RfcSolicitante"
                      [ngClass]="{ 'is-invalid': summitFormCert && f['RfcSolicitante'].errors }">

                    <div *ngIf="summitFormCert && f['RfcSolicitante'].errors" class="invalid-feedback">
                      <div *ngIf="f['RfcSolicitante'].errors['required']">RFC del Emisor es requerido</div>
                      <div *ngIf="f['RfcSolicitante'].errors['minlength']">RFC del Emisor no debe ser menor a 13
                        caracteres</div>
                      <div *ngIf="f['RfcSolicitante'].errors['maxlength']">RFC del Emisor no debe ser mayor a 14
                        caracteres</div>
                      <div *ngIf="f['RfcSolicitante'].errors['pattern']">RFC no cuenta con el formato correcto</div>
                    </div>
                  </div>


                  <div class="form-group col-md-3">
                    <label>RFC Receptor</label>
                    <input type="text" class="form-control is-valid" formControlName="RfcReceptor"
                      [ngClass]="{ 'is-invalid': summitFormCert && f['RfcReceptor'].errors }">

                    <div *ngIf="summitFormCert && f['RfcReceptor'].errors" class="invalid-feedback">
                      <div *ngIf="f['RfcReceptor'].errors['required']">RFC del Emisor es requerido</div>
                      <div *ngIf="f['RfcReceptor'].errors['minlength']">RFC del Emisor no debe ser menor a 13
                        caracteres</div>
                      <div *ngIf="f['RfcReceptor'].errors['maxlength']">RFC del Emisor no debe ser mayor a 14
                        caracteres</div>
                      <div *ngIf="f['RfcReceptor'].errors['pattern']">RFC no cuenta con el formato correcto</div>
                    </div>
                  </div>


                  <div class="form-group col-md-3">
                    <label>Correo electronico</label>
                    <input type="text" class="form-control is-valid" formControlName="correo"
                      [ngClass]="{ 'is-invalid': summitFormCert && f['correo'].errors }">

                    <div *ngIf="summitFormCert && f['correo'].errors" class="invalid-feedback">
                      <div *ngIf="f['correo'].errors['required']">Correo es requerido</div>
                      <div *ngIf="f['correo'].errors['maxlength']">Correo no debe ser mayor a 50 caracteres</div>
                    </div>
                  </div>


                  <div class="form-group col-md-3">
                    <label>Fecha inicial</label>
                    <input type="datetime-local" class="form-control is-valid" formControlName="FechaInicial"
                      [ngClass]="{ 'is-invalid': summitFormCert && f['FechaInicial'].errors }">

                    <div *ngIf="summitFormCert && f['FechaInicial'].errors" class="invalid-feedback">
                      <div *ngIf="f['FechaInicial'].errors['required']">Fecha inicial es requerido</div>

                      <div *ngIf="f['FechaInicial'].errors['maxlength']">La fecha debe ser </div>
                    </div>
                  </div>


                  <div class="form-group col-md-3">
                    <label>Fecha Final</label>
                    <input type="datetime-local" class="form-control is-valid" formControlName="FechaFinal"
                      [ngClass]="{ 'is-invalid': summitFormCert && f['FechaFinal'].errors }">

                    <div *ngIf="summitFormCert && f['FechaFinal'].errors" class="invalid-feedback">
                      <div *ngIf="f['FechaFinal'].errors['required']">Fecha Final es requerido</div>

                      <div *ngIf="f['FechaFinal'].errors['maxlength']">La fecha debe ser </div>
                    </div>
                  </div>


                  <div class="form-group col-md-3">
                    <label>Tipo solicitud:</label>
                    <select class="form-control is-valid" formControlName="TipoSolicitud">
                      <option selected value="">Seleccione una opcion</option>
                      <option value='Metadata'>Metadata</option>
                      <option value='CFDI'>CFDI</option>
                    </select>
                  </div>

                  <!-- <div class="form-group col-md-3">
                    <label>Tipo CFDI</label>
                    <select class="form-control is-valid"  (change)="showWithholdings($event)">
                      <option selected value="">Seleccione una opcion</option>
                      <option value='1'>CFDI</option>
                      <option value='2'>Retenciones</option>
                    </select>
                  </div>  -->

                  <div class="form-group col-md-3">
                    <label>Complementos CFDI:</label>
                    <select class="form-control is-valid" formControlName="Complemento">
                      <option selected value="">Seleccione una opcion</option>
                      <option value='acreditamientoieps10'>acreditamientoieps10</option>
                      <option value='aerolíneas'>aerolíneas</option>
                      <option value='cartaporte10'>cartaporte10</option>
                      <option value='cartaporte20'>cartaporte20</option>
                      <option value='certificadodedestruccion'>certificadodedestruccion</option>
                      <option value='cfdiregistrofiscal'>cfdiregistrofiscal</option>
                      <option value='comercioexterior10'>comercioexterior10</option>
                      <option value='comercioexterior11'>comercioexterior11</option>
                      <option value='comprobante'>comprobante</option>
                      <option value='consumodecombustibles'>consumodecombustibles</option>
                      <option value='consumodecombustibles11'>consumodecombustibles11</option>
                      <option value='detallista'>detallista</option>
                      <option value='divisas'>divisas</option>
                      <option value='donat11'>donat11</option>
                      <option value='ecc11'>ecc11</option>
                      <option value='ecc12'>ecc12</option>
                      <option value='gastoshidrocarburos10'>gastoshidrocarburos10</option>
                      <option value='iedu'>iedu</option>
                      <option value='implocal'>implocal</option>
                      <option value='ine11'>ine11</option>
                      <option value='ingresoshidrocarburos'>ingresoshidrocarburos</option>
                      <option value='leyendasfisc'>leyendasfisc</option>
                      <option value='nomina11'>nomina11</option>
                      <option value='nomina12'>nomina12</option>
                      <option value='notariospublicos'>notariospublicos</option>
                      <option value='obrasarteantiguedades'>obrasarteantiguedades</option>
                      <option value='pagoenespecie'>pagoenespecie</option>
                      <option value='pagos10'>pagos10</option>
                      <option value='pagos20'>pagos20</option>
                      <option value='pfic'>pfic</option>
                      <option value='renovacionysustitucionvehiculos'>renovacionysustitucionvehiculos</option>
                      <option value='servicioparcialconstruccion'>servicioparcialconstruccion</option>
                      <option value='spei'>spei</option>
                      <option value='terceros11'>terceros11</option>
                      <option value='turistapasajeroextranjero'>turistapasajeroextranjero</option>
                      <option value='valesdedespensa'>valesdedespensa</option>
                      <option value='vehiculousado'>vehiculousado</option>
                    </select>
                  </div>


                  <div class="form-group col-md-3">
                    <label>RFC acuentaAterceros</label>
                    <input type="text" class="form-control is-valid" formControlName="RfcACuentaTerceros"
                      [ngClass]="{ 'is-invalid': summitFormCert && f['RfcACuentaTerceros'].errors }">

                    <div *ngIf="summitFormCert && f['RfcACuentaTerceros'].errors" class="invalid-feedback">
                      <div *ngIf="f['RfcACuentaTerceros'].errors['required']">RFC del Emisor es requerido</div>
                      <div *ngIf="f['RfcACuentaTerceros'].errors['minlength']">RFC del Emisor no debe ser menor a 13
                        caracteres</div>
                      <div *ngIf="f['RfcACuentaTerceros'].errors['maxlength']">RFC del Emisor no debe ser mayor a 14
                        caracteres</div>
                      <div *ngIf="f['RfcACuentaTerceros'].errors['pattern']">RFC no cuenta con el formato correcto
                      </div>
                    </div>
                  </div>


                  <div class="form-group col-md-3">
                    <label>Tipo de comprobante:</label>
                    <select class="form-control is-valid" formControlName="TipoComprobante">
                      <option selected value="">Seleccione una opcion</option>
                      <option value='I'>Ingreso</option>
                      <option value='E'>Egreso</option>
                      <option value='T'>Traslado</option>
                      <option value='N'>Nomina</option>
                      <option value='P'>Pago</option>
                    </select>
                  </div>

                  <div class="form-group col-md-4">
                    <label>Estado de comprobante:</label>
                    <select class="form-control is-valid" formControlName="EstadoComprobante">
                      <option selected value="">Seleccione una opcion</option>
                      <option value='0'>Cancelado</option>
                      <option value='1'>Vigente</option>
                    </select>
                  </div>




                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="form-row">


                <div class="form-group col-md-5">
                  <label>UUID</label>
                  <input type="text" class="form-control is-valid" formControlName="UUID"
                    [ngClass]="{ 'is-invalid': summitFormCert && f['UUID'].errors }">
                  <div *ngIf="summitFormCert && f['UUID'].errors" class="invalid-feedback">
                    <div *ngIf="f['UUID'].errors['required']">uuid es requerido</div>
                    <div *ngIf="f['UUID'].errors['minlength']">RFC del Emisor no debe ser menor a 13 caracteres</div>
                    <div *ngIf="f['UUID'].errors['maxlength']">RFC del Emisor no debe ser mayor a 14 caracteres</div>
                  </div>
                </div>


                <div class="form-group col-md-3">
                  <label>RFC Receptor</label>
                  <input type="text" class="form-control is-valid" formControlName="rfcR_uuid"
                    [ngClass]="{ 'is-invalid': summitFormCert && f['rfcR_uuid'].errors }">
                  <div *ngIf="summitFormCert && f['rfcR_uuid'].errors" class="invalid-feedback">
                    <div *ngIf="f['rfcR_uuid'].errors['required']">RFC del Emisor es requerido</div>
                    <div *ngIf="f['rfcR_uuid'].errors['minlength']">RFC del Emisor no debe ser menor a 13 caracteres
                    </div>
                    <div *ngIf="f['rfcR_uuid'].errors['maxlength']">RFC del Emisor no debe ser mayor a 14 caracteres
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Solicitud</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="col-sm-12">
        <div class="card card-outline card-danger">
          <div class="card-header">
            <h4>Certificados</h4>
          </div>
          <div class="form-group col-md-5">
            <label>Contraseña</label>
            <input type="password" class="form-control is-valid" formControlName="password"
              [ngClass]="{ 'is-invalid': summitFormCert && f['password'].errors }">
            <div *ngIf="summitFormCert && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors['required']">Contraseña es requerido</div>
              <!-- <div *ngIf="f['password'].errors['minlength']">RFC del Emisor no debe ser menor a 13 caracteres</div>
              <div *ngIf="f['password'].errors['maxlength']">RFC del Emisor no debe ser mayor a 14 caracteres</div> -->
            </div>
          </div>
          

          <div class="card-body">
            <div class="col-sm-6 col-sm-12 ">
              <ngx-dropzone (change)="onSelect($event)" style="background: none" accept=".key, .cer" >
                <ngx-dropzone-label class="text-success">Cargar llave del certificaso(.key) y (.cer)</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" >
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
              <div class="invalid-feedback-file" *ngIf="files.length == 2">
                <div>Hay que cargar el archivo .Key y .cer del RFC solicitante</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



  {{formDescarga.value | json}}

  <div class="col-sm-12">
    <div class="card card-outline card-danger">
      <div class="card-header">
        <div class="row">
          <div class="col-md-22 d-flex justify-content-start align-items-center">
            <h5>Lista de solicitudes</h5>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive">
        <table class="table row-border hover">
          <thead>
            <tr>
              <th>Id de Solicitud</th>
              <th>Estatus</th>
              <th>Email</th>
              <th>Cantidad de paquetes</th>
              <th>Fecha Creación</th>
              <th>Acciones</th>

            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>