<div class="col-sm-12">
    <div class="card card-outline card-danger">
      <div class="card-header">
        <div class="row">
          <div class="col-md-22 d-flex justify-content-start align-items-center">
            <h5>Descarga masiva</h5>
          </div>
        </div>
      </div>

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Busqueda por UUID</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="modal-body">
                <div class="form-row">
        
                  
                 
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Busqueda por UUID</div>
      </div>


    </div>
  </div>


