<div class="row">

  <div class="col-sm-12">

    <form [formGroup]="formAddConcept" (submit)="addConceptAccordion()">
      <div class="form-row">

        <div class="form-group col-md-6">
          <label>Seleccionar alguna de los Conceptos registrados:</label>
          <select class="form-control" formControlName="slugConcept">
            <option value="">Selecciona una opcion</option>
            <option *ngFor="let concept of dataConcepts" value="{{concept.slug}}">
              {{concept.product_key}} - {{concept.description}}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4 mt-4 pt-2">
          <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right"
            title="Guardar un Concepto">
            <i class="fas fa-plus"></i>
          </button>
        </div>

      </div>
    </form>

  </div>

  <div class="col-sm-12" >

    <div class="accordion" id="accordionExample" formArrayName="items" >

      <div class="accordion-item accordion-item-bg " *ngFor="let item of getControls(); let i = index">

        <h2 class="accordion-header" id="heading{{i}}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
            Concepto no. {{i + 1}}
          </button>
        </h2>

        <div id="collapse{{i}}" class="accordion-collapse collapse show" [attr.aria-labelledby]="'heading' + i"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <div class="row">
              <div class="col-sm-12">

                <form>
                  <div class="form-row">

                    <div class="form-group col-md-2">
                      <label class="label-color">Clave de Producto:</label>
                    <input type="text" class="form-control form-control-sm is-valid" id="productKey{{i}}">
                    </div>

                    <div class="form-group col-md-2">
                      <label class="label-color">Cantidad</label>
                      <input type="text" class="form-control form-control-sm is-valid" id="quantity">
                    </div>

                    <div class="form-group col-md-2">
                      <label class="label-color">Clave de Unidad:</label>
                      <input type="text" class="form-control form-control-sm is-valid" id="unitKey">
                    </div>

                    <div class="form-group col-md-2">
                      <label class="label-color">Valor Unitario</label>
                      <input type="text" class="form-control form-control-sm is-valid" id="unitValue">
                    </div>

                    <div class="form-group col-md-2">
                      <label class="label-color">Importe</label>
                      <input type="text" class="form-control form-control-sm is-valid" id="amount">
                    </div>

                    <div class="form-group col-md-2">
                      <label class="label-color">Objecto Impuesto</label>
                      <input type="text" class="form-control form-control-sm is-valid" id="taxObject">
                    </div>

                    <div class="form-group col-md-5">
                      <label class="label-color">Descripcion:</label>
                      <input type="text" class="form-control form-control-sm is-valid" id="description">
                    </div>

                    <div class="form-group col-md-2">
                      <label class="label-color">Descuento</label>
                      <input type="text" class="form-control form-control-sm is-valid" id="discount">
                    </div>

                    <div class="form-group col-md-2">
                      <label class="label-color">Unidad:</label>
                      <input type="text" class="form-control form-control-sm is-valid" id="unit">
                    </div>

                    <div class="form-group col-md-3">
                      <label class="label-color">No. de Identificacion</label>
                      <input type="text" class="form-control form-control-sm is-valid" id="idNumber">
                    </div>


                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>
