<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="formAddConcept" (submit)="addConceptAccordion()">
      <div class="form-row">

        <div class="form-group col-md-6">
          <label>Seleccionar alguna de los Conceptos registrados:</label>
          <select class="form-control" formControlName="slugConcept">
            <option value="">Llenado de Concepto de forma libre</option>
            <option disabled>
              ----------------------------------------------------------------------------------------
            </option>
            <option *ngFor="let concept of dataConcepts" value="{{concept.slug}}">
              {{concept.product_key}} - {{concept.description}}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4 mt-4 pt-2">
          <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right"
            title="Guardar un Concepto">
            <i class="fas fa-plus"></i>
          </button>
        </div>

      </div>
    </form>
  </div>

  <div class="col-sm-12" [formGroup]="mainForm">
    <div class="accordion" id="accordionExample" formArrayName="concepts">
      <div class="accordion-item accordion-item-bg " *ngFor="let item of getControl.controls; let i = index">

        <div [formGroupName]="i">
          <h2 class="accordion-header" id="heading{{i}}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
              Concepto no. {{i + 1}}
            </button>
          </h2>

          <div id="collapse{{i}}" class="accordion-collapse collapse show" [attr.aria-labelledby]="'heading' + i"
            data-bs-parent="#accordionExample">
            <div class="accordion-body pt-0">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-row pt-0">

                    <div class="form-group col-md-2 mb-0">
                      <label class="label-color mb-0">Clave de Producto:</label>
                      <input type="text" class="form-control form-control-sm" formControlName="productKey">
                    </div>

                    <div class="form-group col-md-6 mb-0">
                      <label class="label-color mb-0">Descripcion:</label>
                      <input type="text" class="form-control form-control-sm" formControlName="description">
                    </div>

                    <div class="form-group col-md-2 mb-0">
                      <label class="label-color mb-0">Clave de Unidad:</label>
                      <input type="text" class="form-control form-control-sm" formControlName="unitKey">
                    </div>

                    <div class="form-group col-md-2 mb-0">
                      <label class="label-color mb-0">Unidad:</label>
                      <input type="text" class="form-control form-control-sm" formControlName="unit">
                    </div>

                    <div class="form-group col-md-3 mb-0">
                      <label class="label-color mb-0">No. de Identificacion:</label>
                      <input type="text" class="form-control form-control-sm" formControlName="idNumber">
                    </div>

                    <div class="form-group col-md-2 mb-0">
                      <label class="label-color mb-0">Objecto Impuesto:</label>
                      <!-- <input type="text" class="form-control form-control-sm" formControlName="taxObject"> -->

                      <select class="form-control form-control-sm" formControlName="taxObject">
                        <option value="">Selecciona una opcion</option>
                        <option *ngFor="let taxObject of dataTaxObjectCat" value="{{taxObject.id}}">
                          {{taxObject.id}} - {{taxObject.description}}
                        </option>
                      </select>
                    </div>

                    <div class="form-group col-md-2 mb-0">
                      <label class="label-color mb-0">Cantidad:</label>
                      <input type="number" (keyup)="setAmount(i)" class="form-control form-control-sm" pattern="[0-9]"
                        min="0" onkeydown="if(event.key==='.'){event.preventDefault();}"
                        oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');"
                        formControlName="quantity">
                    </div>

                    <div class="form-group col-md-2 mb-0">
                      <label class="label-color mb-0">Valor Unitario:</label>
                      <input type="number" (keyup)="setAmount(i)" class="form-control form-control-sm" min="0"
                        formControlName="unitValue">
                    </div>

                    <div class="form-group col-md-2 mb-0">
                      <label class="label-color mb-0">Descuento:</label>
                      <input type="number" (keyup)="calculateDiscont(i)" class="form-control form-control-sm" min="0"
                        formControlName="discount">
                    </div>

                    <div class="form-group col-md-12 pt-4 d-flex justify-content-end">
                      <h5 class="label-color ">Importe del Concepto: <b>$ {{getControl.value[i].amount}}</b></h5>
                    </div>

                  </div>
                  <div class="form-row pt-2">

                    <table class="table table-striped table-hover table-sm label-color " formArrayName="taxForm">
                      <thead>
                        <tr>
                          <th class="size-row-table text-center">Impuesto</th>
                          <th class="size-row-table text-center">Base</th>
                          <th class="size-row-table text-center">Tipo Factor</th>
                          <th class="size-row-table text-center">Tasa o Cuota</th>
                          <th class="size-row-table text-center">Importe</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let taxControl of getControlTaxes(i).controls; let indexTax = index"
                          [formGroupName]="indexTax">
                          <td>
                            <select class="form-control form-control-sm"
                              (change)="setValuesFormTax($event, indexTax, i)">
                              <option value="">Selecciona una opcion</option>
                              <option *ngFor="let tax of dataTaxes" value="{{tax.slug}}">
                                {{tax.tax_name}} - {{tax.tax_rate}}
                              </option>
                            </select>
                          </td>
                          <td>
                            <input type="text" class="form-control form-control-sm"
                              (keyup)="calculateAmountTaxForm(indexTax, i)" min="0" formControlName="base"
                              [readonly]="true">
                          </td>
                          <td>
                            <input type="text" class="form-control form-control-sm" min="0" formControlName="typeFactor"
                              [readonly]="true">
                          </td>
                          <td>
                            <input type="text" class="form-control form-control-sm"
                              (keyup)="calculateAmountTaxForm(indexTax, i)" min="0" formControlName="shareRate"
                              [readonly]="true">
                          </td>
                          <td>
                            <h5 class="label-color "><b>$ {{taxControl.value.amount}}</b></h5>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="form-group col-md-12 pt-1">
                      <a type="button" class="btn btn-secondary mr-2" data-bs-toggle="tooltip" data-bs-placement="right"
                        title="Cancelar" (click)="deleteTaxForm(i)">
                        <i class="fas fa-minus"></i>
                      </a>
                      <a type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right"
                        title="Agregar" (click)="addTaxTable(i)">
                        <i class="fas fa-plus"></i>
                      </a>
                    </div>

                    <div class="form-group col-md-12 pt-1 d-flex justify-content-end">
                      <a type="button" class="btn btn-danger mr-2" data-bs-toggle="tooltip" data-bs-placement="right"
                        title="Cancelar" (click)="deleteConcept(i)">
                        Borrar Concepto <i class="fas fa-trash-alt"></i>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{mainForm.value | json}}

  <div class="col-sm-12 d-flex justify-content-end">
    <h4 class="mr-4">Subtototal: <b>${{subtotal}}</b></h4>
  </div>
  <div class="col-sm-12 d-flex justify-content-end" *ngIf="discount != ''">
    <h4 class="mr-4">Descuento: <b>${{discount}}</b></h4>
  </div>
  <div class="col-sm-12 d-flex justify-content-end pr-3">
    <h4 class="mr-4">Total: <b>${{total}}</b></h4>
  </div>

</div>
