<div class="col-sm-12 d-flex justify-content-end pb-2">
  <button class="btn btn-secondary mr-1"><i class="fas fa-download"></i></button>
  <button class="btn btn-secondary"><i class="fas fa-print"></i></button>
</div>
<div class="col-sm-12">
  <div class="container container-pdf" #pdfView>
    <div class="row p-5">

      <div class="col-sm-5 pt-1">
        <div class="row">
          <img src="../../../../../assets/images/logos/logo-vmasmas-3.png" width="150">
        </div>
        <div class="row text-1 pt-2">
          <p>
            <b>VEMASMAS</b><br>
            <b>San Isidro 730, San Isidro Juriquilla, 76226 Santiago de Querétaro, Qro.</b><br><br>
            <b class="text-primary"></b><br>
            <b>RFC:</b> <br>
            <b>REGIMEN FISCAL:</b><br><br>
          </p>
        </div>
      </div>

      <div class="col-sm-7 text-2 d-flex justify-content-end">
        <p>
          <b>FOLIO FISCAL</b>: <br>
          <b>NO. DE SERIE DEL CSD DEL EMISOR</b>: <br>
          <b>FECHA Y HORA DE EMISIÓN</b>: <br>
          <b>LUGAR DE EXPEDICION</b>: <br>
          <b>TIPO DE CFDI</b>: <br>
          <b>SERIE</b>: <br>
          <b>FOLIO</b>: <br>
          <br>
        </p>
      </div>

      <div class="col-sm-12 pt-2 pr-0 pl-0">
        <table class="table caption-top text-2">
          <thead class="table-sm">
            <tr>
              <th colspan="2">CONTRIBUYENTE/PROPIETARIO</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pt-0">
                <b>NOMBRE:</b> <br>
                <b>RFC Receptor:</b> <br>
              </td>
              <td class="pt-0">
                <b>Uso de CFDI:</b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-sm-12 pt-2 pr-0 pl-0">
        <table class="table caption-top text-2">
          <thead class="table-sm">
            <tr>
              <th>Clave producto Servicio</th>
              <th>Numero Identificacion</th>
              <th>Cantidad</th>
              <th>Clave Unidad</th>
              <th>Unidad</th>
              <th class="text-center">Concepto</th>
              <th>Valor Unitario</th>
              <th>Importe</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let concept of concepts">
              <td class="pt-0"> {{concept['@'].ClaveProdServ}} </td>
              <td class="pt-0">
                {{concept['@'].NoIdentificacion == undefined ? '--' : concept['@'].NoIdentificacion }}
              </td>
              <td class="pt-0"> {{concept['@'].Cantidad}} </td>
              <td class="pt-0"> {{concept['@'].ClaveUnidad}} </td>
              <td class="pt-0"> {{concept['@'].Unidad}} </td>
              <td class="pt-0"> {{concept['@'].Descripcion}} </td>
              <td class="pt-0"> {{concept['@'].ValorUnitario}} </td>
              <td class="pt-0"> {{concept['@'].Importe}} </td>
            </tr> -->
          </tbody>
        </table>
      </div>

      <div class="col-sm-12 pt-2 pr-0 pl-0 text-2">
        <div class="row">
          <div class="col-sm-8">
            <b>IMPORTE CON LETRA:</b> <br>
            <b>FORMA DE PAGO:</b>
            <br>
            <b>MÉTODO DE PAGO:</b>
            <br>
          </div>
          <div class="col-sm-4">
            <b>SUBTOTAL:</b> <br>

            <div>
              <b>DESCUENTO:</b>
            </div>

            <div>

              <div>
                <!-- <div *ngFor="let traslado of cfdiJson['cfdi:Impuestos']['cfdi:Traslados']['cfdi:Traslado']">
                  <b> {{taxType[ traslado['@']['Impuesto'] ]}} TRASLADADO (%{{traslado['@']['TasaOCuota']}}) :</b>
                  ${{traslado['@']['Importe']}}
                </div> -->
              </div>

              <!-- <div *ngIf="cfdiJson['cfdi:Impuestos']['cfdi:Retenciones'] != undefined">
                <div *ngFor="let traslado of cfdiJson['cfdi:Impuestos']['cfdi:Retenciones']['cfdi:Retencion']">
                  <b> {{taxType[ traslado['@']['Impuesto'] ]}} RETENIDO: </b> ${{traslado['@']['Importe']}}
                </div>
              </div> -->

            </div>

            <b class="text-primary text-total">TOTAL:</b> <br>
          </div>
        </div>
      </div>

      <div class="col-sm-12 pt-2 pr-0 pl-0 text-1">
        <b>NOTA:</b><br>
        <p></p>
      </div>

      <div class="col-sm-12 pt-4 pr-0 pl-0 text-3">
        <b>SELLO DIGITAL DEL CFDI</b><br>
        <p class="text-2">

        </p>
      </div>

      <div class="col-sm-12 pt-4 pr-0 pl-0 text-3">
        <b>SELLO DEL SAT</b><br>
        <p class="text-2">

        </p>
      </div>

      <div class="col-sm-3 pt-4 pr-0 pl-0 text-4">
        <b>CODIGO QR</b><br>
      </div>

      <div class="col-sm-9 pt-4 pr-0 pl-0 text-3">
        <b>CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL</b><br>
        <p class="text-2 ">

        </p>
      </div>

      <div class="col-sm-9 pt-4 pr-0 pl-0 text-3">
        <p>
          <b class="text-primary">No de Serie del Certificado del SAT: </b><br>
          <b class="text-primary">Fecha y hora de certificación: </b> <br>
        </p>
      </div>

      <div class="col-sm-12 pt-5">
        <hr width="100%" color="green" />
      </div>

      <div class="col-sm-12 pt-4 pr-0 pl-0 text-3 d-flex justify-content-center">
        <b>ESTE DOCUMENTO ES UNA REPRESENTACiÓN IMPRESA DE UN CFDI</b><br>
      </div>

    </div>

  </div>
</div>
