<div class="col-sm-12 d-flex justify-content-end pb-2">
  <button class="btn btn-primary mr-1" (click)="showTable()"><i class="fas fa-table"></i> </button>
  <button class="btn btn-secondary mr-1"><i class="fas fa-download"></i></button>
  <button class="btn btn-secondary"><i class="fas fa-print"></i></button>
</div>
<div class="col-sm-12">
  <div class="container container-pdf" #pdfView>
    <div class="row p-5">

      <div class="col-sm-5 pt-1">
        <div class="row">
          <img src="../../../../../assets/images/logos/logo-vmasmas-3.png" width="150">
        </div>
        <div class="row text-1 pt-2">
          <p>
            <b>VEMASMAS</b><br>
            <b>San Isidro 730, San Isidro Juriquilla, 76226 Santiago de Querétaro, Qro.</b><br><br>
            <b class="text-primary">{{emitterNode.attributes.Nombre}}</b><br>
            <b>RFC:</b> {{emitterNode.attributes.Rfc}}<br>
            <b>REGIMEN FISCAL:</b> {{emitterNode.attributes.RegimenFiscal}}<br><br>
          </p>
        </div>
      </div>

      <div class="col-sm-7 text-2 d-flex justify-content-end">
        <p>
          <b>FOLIO FISCAL</b>: {{tdfNode.attributes.UUID}}<br>
          <b>NO. DE SERIE DEL CSD DEL EMISOR</b>: {{voucherNode.NoCertificado}}<br>
          <b>FECHA Y HORA DE EMISIÓN</b>: {{voucherNode.Fecha}}<br>
          <b>LUGAR DE EXPEDICION</b>: {{voucherNode.LugarExpedicion}}<br>
          <b>TIPO DE CFDI</b>: {{voucherNode.TipoDeComprobante}} - {{vaucherType[voucherNode.TipoDeComprobante]}}<br>
          <b>SERIE</b>: {{voucherNode.Serie == undefined ? '' : voucherNode.Serie}} <br>
          <b>FOLIO</b>: {{voucherNode.Folio == undefined ? '' : voucherNode.Folio}} <br>
          <br>
        </p>
      </div>

      <div class="col-sm-12 pt-2 pr-0 pl-0">
        <table class="table caption-top text-2">
          <thead class="table-sm">
            <tr>
              <th colspan="2">CONTRIBUYENTE/PROPIETARIO</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pt-0">
                <b>NOMBRE: {{receiverNode.attributes.Nombre}}</b> <br>
                <b>RFC Receptor:</b> {{receiverNode.attributes.Rfc}}<br>
              </td>
              <td class="pt-0">
                <b>Uso de CFDI:</b> {{receiverNode.attributes.UsoCFDI}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-sm-12 pt-2 pr-0 pl-0">
        <table class="table caption-top text-2">
          <thead class="table-sm">
            <tr>
              <th>Clave producto Servicio</th>
              <th>Numero Identificacion</th>
              <th>Cantidad</th>
              <th>Clave Unidad</th>
              <th>Unidad</th>
              <th class="text-center">Concepto</th>
              <th>Valor Unitario</th>
              <th>Importe</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let concept of conceptsNode.elements">
              <td class="pt-0"> {{concept.attributes.ClaveProdServ}} </td>
              <td class="pt-0">
                {{concept.NoIdentificacion == undefined ? '--' : concept.attributes.NoIdentificacion }}
              </td>
              <td class="pt-0"> {{concept.attributes.Cantidad}} </td>
              <td class="pt-0"> {{concept.attributes.ClaveUnidad}} </td>
              <td class="pt-0"> {{concept.attributes.Unidad}} </td>
              <td class="pt-0"> {{concept.attributes.Descripcion}} </td>
              <td class="pt-0"> {{concept.attributes.ValorUnitario}} </td>
              <td class="pt-0"> {{concept.attributes.Importe}} </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-sm-12 pt-2 pr-0 pl-0 text-2">
        <div class="row">
          <div class="col-sm-8">
            <b>IMPORTE CON LETRA:</b> {{numberToLatter}}<br>
            <b>FORMA DE PAGO:</b> {{voucherNode.FormaPago == undefined ? '---' : voucherNode.FormaPago + ' - ' +
            wayToPayDescription}}<br>
            <b>MÉTODO DE PAGO:</b> {{voucherNode.MetodoPago == undefined ? '---' : voucherNode.MetodoPago + ' - ' +
            payMethod[voucherNode.MetodoPago]}}<br>
          </div>
          <div class="col-sm-4">
            <b>SUBTOTAL:</b> {{voucherNode.SubTotal}}<br>

            <div *ngIf="voucherNode.Descuento != undefined">
              <b>DESCUENTO:</b> {{voucherNode.Descuento}}
            </div>

            <div>

              <div>
                <!-- <div *ngFor="let traslado of cfdiJson['cfdi:Impuestos']['cfdi:Traslados']['cfdi:Traslado']">
                  <b> {{taxType[ traslado['@']['Impuesto'] ]}} TRASLADADO (%{{traslado['@']['TasaOCuota']}}) :</b>
                  ${{traslado['@']['Importe']}}
                </div> -->
              </div>

              <!-- <div *ngIf="cfdiJson['cfdi:Impuestos']['cfdi:Retenciones'] != undefined">
                <div *ngFor="let traslado of cfdiJson['cfdi:Impuestos']['cfdi:Retenciones']['cfdi:Retencion']">
                  <b> {{taxType[ traslado['@']['Impuesto'] ]}} RETENIDO: </b> ${{traslado['@']['Importe']}}
                </div>
              </div> -->

            </div>

            <b class="text-primary text-total">TOTAL:</b> {{voucherNode.Total}}<br>
          </div>
        </div>
      </div>

      <div class="col-sm-12 pt-2 pr-0 pl-0 text-1">
        <b>NOTA:</b><br>
        <p></p>
      </div>

      <div class="col-sm-12 pt-4 pr-0 pl-0 text-3">
        <b>SELLO DIGITAL DEL CFDI</b><br>
        <p class="text-2">
          {{tdfNode.attributes.SelloCFD}}
        </p>
      </div>

      <div class="col-sm-12 pt-4 pr-0 pl-0 text-3">
        <b>SELLO DEL SAT</b><br>
        <p class="text-2">
          {{tdfNode.attributes.SelloSAT}}
        </p>
      </div>

      <div class="col-sm-3 pt-4 pr-0 pl-0 text-4">
        <qrcode [qrdata]="urlQr" [width]="230" [errorCorrectionLevel]="'M'"></qrcode>
      </div>

      <div class="col-sm-9 pt-4 pr-0 pl-0 text-3">
        <b>CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL</b><br>
        <p class="text-2 ">
          {{originalString}}
        </p>
      </div>

      <div class="col-sm-9 pt-4 pr-0 pl-0 text-3">
        <p>
          <b class="text-primary">No de Serie del Certificado del SAT: </b> {{tdfNode.attributes.NoCertificadoSAT}}<br>
          <b class="text-primary">Fecha y hora de certificación: </b> {{tdfNode.attributes.FechaTimbrado}}<br>
        </p>
      </div>

      <div class="col-sm-12 pt-5">
        <hr width="100%" color="green" />
      </div>

      <div class="col-sm-12 pt-4 pr-0 pl-0 text-3 d-flex justify-content-center">
        <b>ESTE DOCUMENTO ES UNA REPRESENTACiÓN IMPRESA DE UN CFDI</b><br>
      </div>

    </div>

  </div>
</div>
