<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
      aria-controls="home" aria-selected="true">
      <i class="fas fa-file-pdf"></i> PDF
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab"
      aria-controls="profile" aria-selected="false">
      <i class="fas fa-code"></i> XMl
    </button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row mt-1 pb-0 mb-0">
      <div class="col-sm-12 d-flex justify-content-end" *ngIf="itIsSuccess">
        <button class="btn btn-secondary mr-1" (click)="downloadPdf(uuid)"><i class="fas fa-download"></i></button>
        <button class="btn btn-secondary" (click)="openPdf()"><i class="fas fa-print"></i></button>
      </div>
    </div>
    <div class="row pt-1" [ngClass]="{'pt-4': !itIsSuccess, 'pt-1': itIsSuccess}" >
      <div class="col-sm-12">

        <div class="container container-pdf" #pdfView>
          <div class="row p-5">

            <div class="col-sm-5 pt-1">
              <div class="row">
                <img src="../../../../../assets/images/logos/logo-vmasmas-3.png" width="150">
              </div>
              <div class="row text-1 pt-2">
                <p>
                  <b>VEMASMAS</b><br>
                  <b>San Isidro 730, San Isidro Juriquilla, 76226 Santiago de Querétaro, Qro.</b><br><br>
                  <b class="text-primary"> {{cfdiJson['cfdi:Emisor']['@']['Nombre']}}</b><br>
                  <b>RFC:</b> {{cfdiJson['cfdi:Emisor']['@']['Rfc']}}<br>
                  <b>REGIMEN FISCAL:</b> {{cfdiJson['cfdi:Emisor']['@']['RegimenFiscal']}} -
                  {{taxDescriptionRegimen}}<br><br>
                </p>
              </div>
            </div>

            <div class="col-sm-7 text-2 d-flex justify-content-end">
              <p>
                <b>FOLIO FISCAL</b>: {{itIsSuccess ? dataCertificate.fiscalFolio : ''}} <br>
                <b>NO. DE SERIE DEL CSD DEL EMISOR</b>: {{cfdiJson['@']['NoCertificado']}} <br>
                <b>FECHA Y HORA DE EMISIÓN</b>: {{issueDay}} <br>
                <b>LUGAR DE EXPEDICION</b>: {{ cfdiJson['@']['LugarExpedicion']}} <br>
                <b>TIPO DE CFDI</b>: {{cfdiJson['@']['TipoDeComprobante']}} -
                {{vaucherType[this.cfdiJson['@']['TipoDeComprobante']]}} <br>
                <b>SERIE</b>: {{ cfdiJson['@']['Serie'] == undefined ? '---' : cfdiJson['@']['Serie']}} <br>
                <b>FOLIO</b>: {{ cfdiJson['@']['Folio'] == undefined ? '---' : cfdiJson['@']['Folio']}}<br>
                <br>
              </p>
            </div>

            <div class="col-sm-12 pt-2 pr-0 pl-0">
              <table class="table caption-top text-2">
                <thead class="table-sm">
                  <tr>
                    <th colspan="2">CONTRIBUYENTE/PROPIETARIO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="pt-0">
                      <b>NOMBRE:</b> {{cfdiJson['cfdi:Receptor']['@']['Nombre']}} <br>
                      <b>RFC Receptor:</b> {{cfdiJson['cfdi:Receptor']['@']['Rfc']}} <br>
                    </td>
                    <td class="pt-0">
                      <b>Uso de CFDI:</b> {{cfdiJson['cfdi:Receptor']['@']['UsoCFDI']}} - {{useCfdiDescription}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-sm-12 pt-2 pr-0 pl-0">
              <table class="table caption-top text-2">
                <thead class="table-sm">
                  <tr>
                    <th>Clave producto Servicio</th>
                    <th>Numero Identificacion</th>
                    <th>Cantidad</th>
                    <th>Clave Unidad</th>
                    <th>Unidad</th>
                    <th class="text-center">Concepto</th>
                    <th>Valor Unitario</th>
                    <th>Importe</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let concept of concepts">
                    <td class="pt-0"> {{concept['@'].ClaveProdServ}} </td>
                    <td class="pt-0">
                      {{concept['@'].NoIdentificacion == undefined ? '--' : concept['@'].NoIdentificacion }}
                    </td>
                    <td class="pt-0"> {{concept['@'].Cantidad}} </td>
                    <td class="pt-0"> {{concept['@'].ClaveUnidad}} </td>
                    <td class="pt-0"> {{concept['@'].Unidad}} </td>
                    <td class="pt-0"> {{concept['@'].Descripcion}} </td>
                    <td class="pt-0"> {{concept['@'].ValorUnitario}} </td>
                    <td class="pt-0"> {{concept['@'].Importe}} </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-sm-12 pt-2 pr-0 pl-0 text-2">
              <div class="row">
                <div class="col-sm-8">
                  <b>IMPORTE CON LETRA:</b> {{numberToLatter}} <br>
                  <b>FORMA DE PAGO:</b> {{cfdiJson['@']['FormaPago'] == undefined ? '---' : cfdiJson['@']['FormaPago'] +
                  ' - ' + wayToPayDescription}}
                  <br>
                  <b>MÉTODO DE PAGO:</b> {{cfdiJson['@']['MetodoPago'] == undefined ? '---' :
                  cfdiJson['@']['MetodoPago'] + ' - ' + payMethod[cfdiJson['@']['MetodoPago']]}}
                  <br>
                </div>
                <div class="col-sm-4">
                  <b>SUBTOTAL:</b> ${{cfdiJson['@']['SubTotal']}} <br>

                  <div *ngIf="cfdiJson['@']['Descuento'] != undefined">
                    <b>DESCUENTO:</b> ${{cfdiJson['@']['Descuento']}}
                  </div>

                  <div *ngIf="cfdiJson['cfdi:Impuestos'] != undefined">

                    <div *ngIf="cfdiJson['cfdi:Impuestos']['cfdi:Traslados'] != undefined">
                      <div *ngFor="let traslado of cfdiJson['cfdi:Impuestos']['cfdi:Traslados']['cfdi:Traslado']">
                        <b> {{taxType[ traslado['@']['Impuesto'] ]}} TRASLADADO (%{{traslado['@']['TasaOCuota']}}) :</b>
                        ${{traslado['@']['Importe']}}
                      </div>
                    </div>

                    <div *ngIf="cfdiJson['cfdi:Impuestos']['cfdi:Retenciones'] != undefined">
                      <div *ngFor="let traslado of cfdiJson['cfdi:Impuestos']['cfdi:Retenciones']['cfdi:Retencion']">
                        <b> {{taxType[ traslado['@']['Impuesto'] ]}} RETENIDO: </b> ${{traslado['@']['Importe']}}
                      </div>
                    </div>

                  </div>

                  <b class="text-primary text-total">TOTAL:</b> ${{cfdiJson['@']['Total']}} <br>
                </div>
              </div>
            </div>

            <div class="col-sm-12 pt-2 pr-0 pl-0 text-1">
              <b>NOTA:</b><br>
              <p>{{note}}</p>
            </div>

            <div class="col-sm-12 pt-4 pr-0 pl-0 text-3">
              <b>SELLO DIGITAL DEL CFDI</b><br>
              <p class="text-2">
                {{itIsSuccess ? dataCertificate.digitalStamp : ''}}
              </p>
            </div>

            <div class="col-sm-12 pt-4 pr-0 pl-0 text-3">
              <b>SELLO DEL SAT</b><br>
              <p class="text-2">
                {{itIsSuccess ? dataCertificate.satStamp : ''}}
              </p>
            </div>

            <div class="col-sm-3 pt-4 pr-0 pl-0 text-4">
              <b>CODIGO QR</b><br>
            </div>

            <div class="col-sm-9 pt-4 pr-0 pl-0 text-3">
              <b>CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL</b><br>
              <p class="text-2 ">
                {{itIsSuccess ? dataCertificate.originalStringStamp : ''}}
              </p>
            </div>

            <div class="col-sm-9 pt-4 pr-0 pl-0 text-3">
              <p>
                <b class="text-primary">No de Serie del Certificado del SAT: </b>{{itIsSuccess ?
                dataCertificate.certificateNoSat: ''}}<br>
                <b class="text-primary">Fecha y hora de certificación: </b> {{itIsSuccess ? dataCertificate.stampedDate
                : ''}} <br>
              </p>
            </div>

            <div class="col-sm-12 pt-5">
              <hr width="100%" color="green" />
            </div>

            <div class="col-sm-12 pt-4 pr-0 pl-0 text-3 d-flex justify-content-center">
              <b>ESTE DOCUMENTO ES UNA REPRESENTACiÓN IMPRESA DE UN CFDI</b><br>
            </div>

          </div>

        </div>

      </div>
    </div>

  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

    <div class="row mt-1 pb-0 mb-0">
      <div class="col-sm-12 d-flex justify-content-end" *ngIf="itIsSuccess">
        <button class="btn btn-secondary mr-1" (click)="donwloadXml(uuid)" ><i class="fas fa-download"></i></button>
      </div>
    </div>

    <div class="row pt-1">
      <div class="col-sm-12">
        <pre lang="xml">
          <code>
<![CDATA[ {{cfdiXml}} ]]>
          </code>
        </pre>
      </div>
    </div>

  </div>

</div>
