<ul class="nav nav-tabs" id="myTab" role="tablist">

  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
      aria-controls="home" aria-selected="true">
      <i class="fas fa-file-pdf"></i> PDF
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab"
      aria-controls="profile" aria-selected="false">
      <i class="fas fa-code"></i> XMl
    </button>
  </li>

</ul>
<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row pt-4">
      <div class="col-sm-12 container-pdf">
   
        <div class="container">
          <div class="row p-5">

            <div class="col-sm-4 pt-3">
              <div class="row">
                <img src="../../../../../assets/images/logos/vemasmas2.png" width="300">
              </div>
              <div class="row text-1 pt-5">
                <p>
                  <b>VEMASMAS</b><br>
                  <b>San Isidro 730, San Isidro Juriquilla, 76226 Santiago de Querétaro, Qro.</b><br>
                  <b>RFC:</b> RFCDEPRUEBA<br><br>
                  <b>REGIMEN FISCAL:</b> 603 - Personas Morales con Fines no Lucrativos<br><br>
                </p>
              </div>
            </div>

            <div class="col-sm-8 text-2 d-flex justify-content-end">
              <p>
                FOLIO FISCAL: ---------------------------------------------------------------------------------- <br>
                NO. DE SERIE DEL CSD DEL EMISOR: --------------------------------------------------------------- <br>
                NO. SERIE CERTIFICADO SAT: -------------------------------------------------------------------- <br>
                FECHA Y HORA DE EMISIÓN: ----------------------------------------------------------------------- <br>
                FECHA Y HORA DE CERTIFICACIÓN: ---------------------------------------------------------------- <br>
                TIPO DE CFDI: ---------------------------------------------------------------------------------- <br>
                SERIE Y FOLIO: -------------------------------------------------------------------------------- <br>
                USO CFDI: ------------------------------------------------------------------------------------- <br>
              </p>
            </div>

            <div class="col-sm-12 pt-4 pr-0 pl-0">
              <table class="table caption-top text-2">
                <thead class="table-sm">
                  <tr>
                    <th scope="col">CONTRIBUYENTE/PROPIETARIO</th>
                    <th scope="col">LUGAR DE EXPEDICIÓN</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <b>NOMBRE:</b> ---------------------------- <br>
                      <b>RFC Receptor:</b> ---------------------- <br>
                    </td>
                    <td> --------------------------------------- </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-sm-12 pt-2 pr-0 pl-0">
              <table class="table caption-top text-2">
                <thead class="table-sm">
                  <tr>
                    <th colspan="3">INFORMACIÓN ADICIONAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <b>MUNICIPIO:</b> ---------------------------- <br>
                      <b>FECHA DE PAGO:</b> ------------------------ <br>
                    </td>
                    <td>
                      <b>RECEPTOR:</b> ----------------------------- <br>
                      <b>MODALIDAD:</b> ---------------------------- <br>
                    </td>
                    <td>
                      <b>NO. OPERACIÓN:</b> ------------------------ <br>
                      <b>NO. CONFIRMACIÓN:</b> --------------------- <br>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-sm-12 pt-2 pr-0 pl-0">
              <table class="table caption-top text-2">
                <thead class="table-sm">
                  <tr>
                    <th>Clave producto Servicio</th>
                    <th>Numero Identificacion</th>
                    <th>Cantidad</th>
                    <th>Clave Unidad</th>
                    <th>Unidad</th>
                    <th class="text-center">Concepto</th>
                    <th>Valor Unitario</th>
                    <th>Importe</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> ---------------- </td>
                    <td> ---------------- </td>
                    <td> ---------------- </td>
                    <td> ---------------- </td>
                    <td> ---------------- </td>
                    <td>
                      ---------------------------------------------------------------
                      ---------------------------------------------------------------
                      ---------------------------------------------------------------
                      ---------------------------------------------------------------
                    </td>
                    <td> ---------------- </td>
                    <td> ---------------- </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-sm-12 pt-2 pr-0 pl-0 text-2 ">
              <div class="row">
                <div class="col-sm-9">
                  <b>IMPORTE CON LETRA:</b> ------------------------------------ <br>
                  <b>FORMA DE PAGO:</b> ---------------------------------------- <br>
                  <b>MÉTODO DE PAGO:</b> --------------------------------------- <br>
                </div>
                <div class="col-sm-3 text-1">
                  <b class="text-primary">TOTAL:</b> $------------ <br>
                </div>
              </div>
            </div>

            <div class="col-sm-12 pt-4 pr-0 pl-0 text-3">
              <b>SELLO DIGITAL DEL CFDI</b><br>
            </div>

            <div class="col-sm-12 pt-4 pr-0 pl-0 text-3">
              <b>SELLO DEL SAT</b><br>
            </div>

            <div class="col-sm-3 pt-4 pr-0 pl-0 text-4">
              <b>CODIGO QR</b><br>
            </div>

            <div class="col-sm-9 pt-4 pr-0 pl-0 text-3">
              <b>CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL</b><br>
            </div>

            <div class="col-sm-12 pt-5">
              <hr width="100%" color="green" />
            </div>


            <div class="col-sm-12 pt-4 pr-0 pl-0 text-3 d-flex justify-content-center">

              <b>ESTE DOCUMENTO ES UNA REPRESENTACiÓN IMPRESA DE UN CFDI</b><br>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row pt-4">
      <div class="col-sm-12">
        <pre lang="xml">
          <code>
<![CDATA[ {{cfdiXml}} ]]>
          </code>
        </pre>
      </div>
    </div>
  </div>

</div>
