<form>
  <div class="row pt-3 pb-3">

    <div class="col-sm-12">
      <table class="table table-stripe table-hover table-sm label-color">
        <thead>
          <tr>
            <th>Tipo de percepcion</th>
            <th>Clave</th>
            <th>Concepto</th>
            <th>Importe gravado</th>
            <th>Importe Exento</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>

      <div class="form-group col-md-12 pt-1">
        <a type="button" class="btn btn-secondary mr-2" data-bs-toggle="tooltip" data-bs-placement="right"
          title="Cancelar">
          <i class="fas fa-minus"></i>
        </a>
        <a type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="Agregar">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>

    <div class="col-sm-12 d-flex justify-content-end">
      <h5 class="mr-4">Total otras deducciones: <b>$0.00</b></h5>
    </div>
    <div class="col-sm-12 d-flex justify-content-end">
      <h5 class="mr-4">Total impuestos retenidos: <b>$0.00</b></h5>
    </div>

  </div>
</form>
