<div id="container-registrer">

  <div id="left-registrer">

    <div id="container_img-registrer">
      <img src="../../../../assets/images/logos/LOGO-1.svg">
    </div>

    <form id="register-form">
      <div class="row pt-1">

        <div class="col-sm-12 pt-0">
          <input type="text" class="client-info-registrer" autocomplete="off" >
          <label for="input-focus" class="client-info-label-registrer">RFC:</label>
        </div>
        <div class="col-sm-12 pt-0">
          <input type="text" class="client-info-registrer mt-0" autocomplete="off" >
          <label for="input-focus" class="client-info-label-registrer">Nobre:</label>
        </div>
        <div class="col-sm-12 pt-0">
          <input type="text"  class="client-info-registrer mt-0" autocomplete="off" >
          <label for="input-focus" class="client-info-label-registrer">Correo:</label>
        </div>
        <div class="col-sm-12 pt-0">
          <input type="text"  class="client-info-registrer mt-0" autocomplete="off" >
          <label for="input-focus" class="client-info-label-registrer">Contraseña:</label>
        </div>
        <div class="col-sm-12 pt-0">
          <input type="text"  class="client-info-registrer mt-0" autocomplete="off" >
          <label for="input-focus" class="client-info-label-registrer">Confirmar contraseña:</label>
        </div>
        <div class="col-sm-12 pt-0">
          <a type="submit" id="submit-registrer" class="client-info-registrer" value="Continuar">Registrar</a>
          <div class="text-access-registrer">
            ¿Tienes una cuenta?<a class="text-accion-registrer" routerLink="/login" >&nbsp;Acceder</a>
          </div>
        </div>
      </div>
    </form>

  </div>
  <div id="right-registrer">
    <h1 id="welcome-registrer">Registrate</h1>
    <p id="lorem-registrer">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
      Vivamus sodales eros non arcu pellentesque convallis.<br>
      Nunc dignissim lectus in malesuada porta.<br>
      Proin ac erat sed urna congue suscipit.<br>
      Morbi aliquet eget nisl id ornare.
    </p>
  </div>
</div>
