<div id="container-registrer">

  <div id="left-registrer">

    <div id="container_img-registrer">
      <img src="../../../../assets/images/logos/LOGO-1.svg">
    </div>

    <form [formGroup]="formUser" (submit)="registrerUser()">

      <div class="row pt-1">

        <div class="col-sm-12 pt-0 form-group">
          <input type="text" class="client-info-registrer form-control is-valid" autocomplete="off"
            formControlName="rfc" [ngClass]="{ 'is-invalid': submitted && f['rfc'].errors }">
          <label for="input-focus" class="client-info-label-registrer">RFC:</label>
          <div *ngIf="submitted && f['rfc'].errors" class="invalid-feedback">
            <div *ngIf="f['rfc'].errors['required']">Este campo es requerido</div>
            <div *ngIf="f['rfc'].errors['minlength']">RFC del Emisor no debe ser menor a 12 caracteres</div>
            <div *ngIf="f['rfc'].errors['maxlength']">RFC del Emisor no debe ser mayor a 13 caracteres</div>
            <div *ngIf="f['rfc'].errors['pattern']">RFC no cuenta con el formato correcto</div>
          </div>
        </div>

        <div class="col-sm-12 pt-0 form-group">
          <input type="text" class="client-info-registrer form-control mt-0 is-valid" autocomplete="off"
            formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
          <label for="input-focus" class="client-info-label-registrer">Nombre:</label>
          <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">Este campo es requerido</div>
          </div>
        </div>

        <div class="col-sm-12 pt-0 form-group">
          <input type="text" class="client-info-registrer form-control mt-0 is-valid" autocomplete="off"
            formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
          <label for="input-focus" class="client-info-label-registrer">Correo:</label>
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Este campo es requerido</div>
            <div *ngIf="f['email'].errors['email']">El formato del correo es incorrecto</div>
          </div>
        </div>

        <div class="col-sm-12 pt-0 form-group">
          <input type="password" class="client-info-registrer form-control mt-0 is-valid"
            formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
          <label for="input-focus" class="client-info-label-registrer">Contraseña:</label>
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Este campo es requerido</div>
            <div *ngIf="f['password'].errors['minlength']">No debe ser menor a 8 caracteres</div>
            <div *ngIf="f['password'].errors['maxlength']">No debe ser mayor a 45 caracteres</div>
          </div>
        </div>

        <div class="col-sm-12 pt-0 form-group">
          <input type="password" class="client-info-registrer form-control mt-0 is-valid" autocomplete="off"
            formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
          <label for="input-focus" class="client-info-label-registrer">Confirmar contraseña:</label>
          <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
            <div *ngIf="f['confirmPassword'].errors['required']">Este campo es requerido</div>
            <div *ngIf="f['confirmPassword'].errors['matching']">Confirmar contraseña no coincide</div>
            <div *ngIf="f['confirmPassword'].errors['minlength']">No debe ser menor a 8 caracteres</div>
            <div *ngIf="f['confirmPassword'].errors['maxlength']">No debe ser mayor a 45 caracteres</div>
          </div>
        </div>

        <div class="col-sm-12 pt-0">
          <button type="submit" id="submit-registrer" class="client-info-registrer" value="Continuar">Registrar</button>
          <div class="text-access-registrer">
            ¿Tienes una cuenta?<a class="text-accion-registrer" routerLink="/login">&nbsp;Acceder</a>
          </div>
        </div>
      </div>

    </form>

  </div>
  <div id="right-registrer">
    <h1 id="welcome-registrer">Registrate</h1>
    <p id="lorem-registrer">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
      Vivamus sodales eros non arcu pellentesque convallis.<br>
      Nunc dignissim lectus in malesuada porta.<br>
      Proin ac erat sed urna congue suscipit.<br>
      Morbi aliquet eget nisl id ornare.
    </p>
  </div>
</div>
