<div class="form-row">
  <div class="form-group col-sm-4">
    <label>Serie:</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-sm-4">
    <label>Folio:</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-sm-4">
    <label>Exportacion*:</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-sm-4">
    <label>Subtotal*:</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-sm-4">
    <label>Moneda*:</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-sm-4">
    <label>Total:</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-sm-4">
    <label>Tipo de comprobante:</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-sm-4">
    <label>Lugar de expedicion:</label>
    <input type="text" class="form-control">
  </div>
</div>