<div class="card card-outline card-danger">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-start align-items-center">
        <h5>Lista de Conceptos</h5>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <button type="button" class="btn btn-sm btn-success text-white" data-bs-toggle="modal"
          title="Agregar nuevo Concepto" data-bs-target="#modal-nuevo-receptor">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 table-responsive">

        <table datatable [dtOptions]="dtOptions" class="table row-border hover" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th>Clave producto</th>
              <th>Clave unidad</th>
              <th>Descripcion</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let concept of dataConcepts; let i = index">
              <td>{{concept.product_key}}</td>
              <td>{{concept.unit_key}}</td>
              <td>{{concept.description}}</td>
              <td class="text-center">
                <a class="btn btn-primary btn-sm mr-2" (click)="showModalEditReceiver(concept, i)">
                  <i class="fa fa-edit"></i>
                </a>
                <a *ngIf="concept.status == 1" class="btn btn-danger btn-sm" data-bs-toggle="tooltip"
                  data-placement="right" title="Eliminar Receptor" (click)="editEstatusConcept(concept.slug, i)">
                  <i class="fa fa-window-close"></i>
                </a>
                <a *ngIf="concept.status == 0" class="btn btn-success btn-sm" data-bs-toggle="tooltip"
                  data-placement="right" title="Eliminar Receptor" (click)="editEstatusConcept(concept.slug,i)">
                  <i class="fa fa-check"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>


<div class="modal fade" data-bs-backdrop="static" id="modal-nuevo-receptor" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">

      <form [formGroup]="formNewConcept" (ngSubmit)="createConcept()">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Concepto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Clave de producto:</label>
              <input type="text" class="form-control is-valid" formControlName="productKey"
                [ngClass]="{ 'is-invalid': submittedCreate && f['productKey'].errors }">
              <div *ngIf="submittedCreate && f['productKey'].errors" class="invalid-feedback">
                <div *ngIf="f['productKey'].errors['required']">Razon social del Emisor es requerido</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Clave de Unidad:</label>
              <input type="text" class="form-control is-valid" formControlName="unitKey"
                [ngClass]="{ 'is-invalid': submittedCreate && f['unitKey'].errors }">
              <div *ngIf="submittedCreate && f['unitKey'].errors" class="invalid-feedback">
                <div *ngIf="f['unitKey'].errors['required']">La Clave de unidad es requerido</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Unidad:</label>
              <input type="text" class="form-control is-valid" formControlName="unit">
            </div>
            <div class="form-group col-md-8">
              <label>Descripcion:</label>
              <input type="text" class="form-control is-valid" formControlName="description"
                [ngClass]="{ 'is-invalid': submittedCreate && f['description'].errors }">
              <div *ngIf="submittedCreate && f['description'].errors" class="invalid-feedback">
                <div *ngIf="f['description'].errors['required']">Razon social del Emisor es requerido</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Objecto Impuesto</label>

              <select class="form-control" formControlName="taxObject"
                [ngClass]="{ 'is-invalid': submittedCreate && f['taxObject'].errors }">
                <option value="">Seleccioné un impuesto</option>
                <option *ngFor="let taxObject of dataTaxObjectCat" value="{{taxObject.id}}">
                  {{taxObject.id}} - {{taxObject.description}}
                </option>
              </select>

              <div *ngIf="submittedCreate && f['taxObject'].errors" class="invalid-feedback">
                <div *ngIf="f['taxObject'].errors['required']">Razon social del Emisor es requerido</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Numero de Identificacion</label>
              <input type="text" class="form-control is-valid" formControlName="idNumber">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="resetFormCreate()">Cerrar</button>
          <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
      </form>

    </div>
  </div>
</div>

<div #editModal class="modal fade" data-bs-backdrop="static" id="modal-nuevo-receptor" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <form [formGroup]="formEditConcept" (ngSubmit)="editDataConcept()">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Concepto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-row">
            <div class="form-group col-md-4">

              <label>Clave de Producto:</label>
              <input type="text" class="form-control is-valid" formControlName="productKey"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['productKey'].errors }">

              <div *ngIf="submittedEdit && fEdit['productKey'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['productKey'].errors['required']">Razon social del Emisor es requerido</div>
              </div>

            </div>
            <div class="form-group col-md-4">
              <label>Clave de Unidad:</label>
              <input type="text" class="form-control is-valid" formControlName="unitKey"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['unitKey'].errors }">

              <div *ngIf="submittedEdit && fEdit['unitKey'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['unitKey'].errors['required']">Razon social del Emisor es requerido</div>
              </div>

            </div>
            <div class="form-group col-md-4">
              <label>Unidad:</label>
              <input type="text" class="form-control is-valid" formControlName="unit"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['unit'].errors }">

              <div *ngIf="submittedEdit && fEdit['unit'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['unit'].errors['required']">Razon social del Emisor es requerido</div>
              </div>


            </div>
            <div class="form-group col-md-8">
              <label>Descripcion:</label>
              <input type="text" class="form-control is-valid" formControlName="description"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['description'].errors }">

              <div *ngIf="submittedEdit && fEdit['description'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['description'].errors['required']">Razon social del Emisor es requerido</div>
              </div>

            </div>
            <div class="form-group col-md-4">
              <label>Objecto Impuesto</label>

              <select class="form-control" formControlName="taxObject"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['taxObject'].errors }">
                <option value="">Seleccioné un impuesto</option>
                <option *ngFor="let taxObject of dataTaxObjectCat" value="{{taxObject.id}}" [selected]="taxObject.id == selectTaxObject">
                  {{taxObject.id}} - {{taxObject.description}}
                </option>
              </select>

              <div *ngIf="submittedEdit && fEdit['taxObject'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['taxObject'].errors['required']">Razon social del Emisor es requerido</div>
              </div>

            </div>
            <div class="form-group col-md-6">
              <label>Numero de Identificacion</label>
              <input type="text" class="form-control is-valid" formControlName="idNumber"
                [ngClass]="{ 'is-invalid': submittedEdit && fEdit['idNumber'].errors }">

              <div *ngIf="submittedEdit && fEdit['idNumber'].errors" class="invalid-feedback">
                <div *ngIf="fEdit['idNumber'].errors['required']">Razon social del Emisor es requerido</div>
              </div>

            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
      </form>

    </div>
  </div>
</div>
