
<form>

  <div class="row pt-3 pb-3">

    <div class="col-sm-12 pb-3">
      <p class="subtitle">Datos generales de Nomina.</p>
      <hr>
    </div>

    <div class="col-sm-3">
      <label>Tipo de Nomina:</label>
      <select class="form-control is-valid">
        <option selected value="">Seleccione una opcion</option>
        <option selected value="O">O</option>
        <option selected value="E">E</option>
      </select>
    </div>

    <div class="col-sm-3">
      <label>Fecha de Pago:</label>
      <input type="date" class="form-control is-valid">
    </div>

    <div class="col-sm-3">
      <label>Fecha inicio de pago:</label>
      <input type="date" class="form-control is-valid">
    </div>

    <div class="col-sm-3">
      <label>Fecha final de pago:</label>
      <input type="date" class="form-control is-valid">
    </div>

    <div class="col-sm-3">
      <label>Fecha final de pago:</label>
      <input type="date" class="form-control is-valid">
    </div>

    <div class="col-sm-3">
      <label>Numero de dias Pagados:</label>
      <input type="date" class="form-control is-valid">
    </div>

    <div class="col-sm-12 pb-3 pt-3">
      <p class="subtitle">Datos Patronal.</p>
      <hr>
    </div>

    <div class="col-sm-4">
      <label>Registro patronal:</label>
      <input type="text" class="form-control is-valid">
    </div>

    <div class="col-sm-4">
      <label>Rfc patron origen:</label>
      <input type="text" class="form-control is-valid">
    </div>

    <div class="col-sm-4">
      <label>Curp:</label>
      <input type="text" class="form-control is-valid">
    </div>

  </div>

</form>
