<div class="row">

  <div class="col-sm-12" *ngIf="!haveCerticate">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>¡Revisar!</strong> No tiene aun un Certificado (CSD) registrado, para que pueda
      realizar el proceso de creacion de XML es necesario tener registrado uno, con validez
      ante el SAT.
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card card-outline card-danger">
      <div class="card-header">
        <h4>Datos del Certificado</h4>
      </div>
      <div class="card-body">

        <div class="text-center">
          <img class="profile-user-img img-fluid " src="../../../../assets/images/logos/certificate_file.png">
        </div>
        <p class="text-muted text-center">Numero de Certificado:</p>
        <h3 class="profile-username text-center">{{certificateData.certificate_number}}</h3>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <b>RFC del Certificado:</b> <a class="float-right">{{certificateData.rfc}}</a>
          </li>
          <li class="list-group-item">
            <b>Identidad:</b> <a class="float-right">{{certificateData.identity}}</a>
          </li>
          <li class="list-group-item">
            <b>Verificado por:</b> <a class="float-right">{{certificateData.verified_by}}</a>
          </li>
          <li class="list-group-item">
            <b>Caduca:</b> <a class="float-right">{{certificateData.date_expiry}}</a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="card card-outline card-danger">
      <div class="card-header">
        <h4>Cargar Certificado</h4>
      </div>
      <div class="card-body">
        <ngx-dropzone (change)="onSelect($event)" style="background: none" accept=".cer">
          <ngx-dropzone-label class="text-success">Cargar archivo</ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>

        <div *ngIf="!isValid">
          <div class="invalid-feedback-custom">{{errorMessage}}</div>
        </div>

      </div>
    </div>
  </div>

</div>
