<div id="container-login">
  <div id="left-login">
    <h1 id="welcome-login">Buzon</h1>
    <p id="lorem-login">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
      Vivamus sodales eros non arcu pellentesque convallis.<br>
      Nunc dignissim lectus in malesuada porta.<br>
      Proin ac erat sed urna congue suscipit.<br>
      Morbi aliquet eget nisl id ornare.
    </p>
  </div>
  <div id="right-login">
    <div id="container-img-login">
      <img src="../../../../assets/images/logos/LOGO-1.svg">
    </div>
    <h3 class="text-access-login m-0"> Restaurar contraña </h3>
    <form id="update-password-form">
      <input type="email" id="email" class="client-info-login" autocomplete="off" >
      <label for="email" class="client-info-label-login">Nueva contraseña</label>
      <input type="email" id="password" class="client-info-login" autocomplete="off">
      <label for="password" class="client-info-label-login">Confirmar constraseña</label>
      <a type="submit" id="submit-login" class="client-info-login" routerLink="/login">Cambiar contraseña</a>
    </form>
  </div>
</div>
