<form [formGroup]="formCertificate">

  <div class="row pt-3 pb-3">

    <div class="col-sm-12" *ngIf="!haveCerticate">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>¡Revisar!</strong> El Emisor que selecciono no tiene un certificado registrado, si lo
        quiere utilizar es necesario que registrar un certificado, lo puede realizar
        dando click <a class="text-primary" routerLink="/panel/settings"><b>aqui</b></a>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row mb-2">

        <div class="col-sm-12 mb-2">
          <label>Seleccionar Emisor:</label>
          <select class="form-control is-valid" (change)="setDataEmitterInput($event)">
            <option selected value="">Seleccione una opcion</option>
            <option *ngFor="let emitter of emitterData" value="{{emitter.slug}}"> {{emitter.bussiness_name}} </option>
          </select>
        </div>

        <div class="col-sm-12 mb-2">
          <label>RFC:</label>
          <input type="text" class="form-control is-valid" formControlName="rfc" [readonly]="true"
            [ngClass]="{ 'is-invalid': summitFormCert && f['rfc'].errors }">

          <div *ngIf="summitFormCert && f['rfc'].errors" class="invalid-feedback">
            <div *ngIf="f['rfc'].errors['required']">RFC del Emisor es requerido</div>
            <div *ngIf="f['rfc'].errors['minlength']">RFC del Emisor no debe ser menor a 13 caracteres</div>
            <div *ngIf="f['rfc'].errors['maxlength']">RFC del Emisor no debe ser mayor a 14 caracteres</div>
          </div>

        </div>

        <div class="col-sm-12 mb-2">
          <label>Lugar de expedicion:</label>
          <input type="text" class="form-control is-valid" formControlName="expeditionPlace" [readonly]="true"
            [ngClass]="{ 'is-invalid': summitFormCert && f['expeditionPlace'].errors }">

          <div *ngIf="summitFormCert && f['expeditionPlace'].errors" class="invalid-feedback">
            <div *ngIf="f['expeditionPlace'].errors['required']">Lugar de expedicion del Emisor es requerido</div>
            <div *ngIf="f['expeditionPlace'].errors['minlength']">
              Lugar de expedicion no debe ser menor a 5 caracteres
            </div>
            <div *ngIf="f['expeditionPlace'].errors['maxlength']">
              Lugar de expedicion no debe ser mayor a 5caracteres
            </div>
          </div>

        </div>

        <div class="col-sm-12">
          <label>Numero de certificado:</label>
          <input type="text" class="form-control is-valid" formControlName="certNumber" [readonly]="true"
            [ngClass]="{ 'is-invalid': summitFormCert && f['certNumber'].errors }">

          <div *ngIf="summitFormCert && f['certNumber'].errors" class="invalid-feedback">
            <div *ngIf="f['certNumber'].errors['required']">El numero de certificado es requerido</div>
          </div>

        </div>

      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">

        <div class="col-sm-12">
          <label>Regimen fiscal:</label>
          <input type="text" class="form-control is-valid" formControlName="taxRegime" [readonly]="true"
            [ngClass]="{ 'is-invalid': summitFormCert && f['taxRegime'].errors }">

          <div *ngIf="summitFormCert && f['taxRegime'].errors" class="invalid-feedback">
            <div *ngIf="f['taxRegime'].errors['required']">Regimen fiscal del Emisor es requerido</div>
          </div>

        </div>

        <div class="col-sm-12 mb-2">
          <label>Contraseña de llave</label>
          <input type="password" class="form-control is-valid" formControlName="passwordKey"
            [ngClass]="{ 'is-invalid': summitFormCert && f['passwordKey'].errors }" (blur)="validatePassword()">

          <div *ngIf="summitFormCert && f['passwordKey'].errors" class="invalid-feedback">
            <div *ngIf="f['passwordKey'].errors['required']">Contraseña de la llave del certificado es requerido</div>
          </div>

        </div>

        <div class="col-sm-12">
          <ngx-dropzone (change)="validateKey($event)" style="background: none" accept=".key" [disabled]="disableFileInput">
            <ngx-dropzone-label class="text-success">Cargar llave del certificaso(.key)</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" >
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
          <div class="invalid-feedback-file" *ngIf="files.length == 0">
            <div>Hay que cargar el archivo .Key del certificado.</div>
          </div>
        </div>

      </div>
    </div>

  </div>

</form>
